{% extends "gudang/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <form class="form-sample" action="" method="post">
        <h4 class="card-title">Form Surat Jalan Pembelian</h4>
        <br>
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">No Surat jalan</label>
              <div class="col-sm-9">
                <input required type="text" class="form-control" name="nosuratjalan"
                  placeholder="Masukkan Nomor Surat jalan" list="suratjalan" />
                <datalist id="suratjalan">
                  {% for i in detailsj %}
                  <option value="{{i.NoSuratJalan}}">{{i.Tanggal}}</option>
                  {% endfor %}
                </datalist>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" required />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Supplier</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="supplier" placeholder="Masukan Nama Supplier" />
              </div>
            </div>
          </div>
        </div>

        <h4 class="card-title">Form Data Barang</h4>

        <div id="products"><!-- Div ini ditambahkan untuk menampung produk yang ditambahkan dinamis -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Kode Barang</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Masukkan Nama Bahan Baku" id="kodeproduk-1"
                    aria-label="Masukkan Nama bahanbaku" onchange="loadArtikelOptions(this)" name="kodeproduk" list="listproduk" required>
                  <datalist id="listproduk">
                    {% for i in getproduk %}
                    <option value="{{i.KodeProduk}}">{{i.KodeProduk}} - {{i.NamaProduk}}</option>
                    {% endfor %}
                  </datalist>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Jumlah</label>
                <div class="col-sm-8">
                  <input min="0" value="0" step="any" type="number" class="form-control" name="jumlah" required>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nomor PO</label>
                <div class="col-sm-8" id="detail_po_1">
                  {% include 'gudang/opsi_po.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-outline-info" onclick="addProduct()">Tambahkan produk</button>
        <button type="submit" class="btn btn-primary ml-5">Submit</button>
      </form>
    </div>
  </div>
</div>

{% block javascripts %}
<script>
  let productCounter = 1; // Counter untuk menghitung berapa banyak produk yang sudah ditambahkan

  function addProduct() {
    productCounter++; // Tambah counter setiap kali produk baru ditambahkan
    const productDiv = document.createElement('div');
    productDiv.className = "row";
    productDiv.innerHTML = `<div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kode Barang</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Masukkan Nama Bahan Baku"
                                            id="kodeproduk-${productCounter}" aria-label="Masukkan Nama bahanbaku"
                                            name="kodeproduk" list="listproduk" onchange="loadArtikelOptions(this)" required>
                                        <datalist id="listproduk">
                                            {% for i in getproduk %}
                                            <option value="{{i.KodeProduk}}">{{i.KodeProduk}} - {{i.NamaProduk}}</option>
                                            {% endfor %}
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Jumlah</label>
                                    <div class="col-sm-8">
                                        <input min="0" value="0" step="any" type="number" class="form-control" name="jumlah" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nomor PO</label>
                                    <div class="col-sm-8" id="detail_po_${productCounter}">
                                      {% include 'gudang/opsi_po.html' %}
                                    </div>
                                </div>
                            </div>`;
    document.getElementById('products').appendChild(productDiv);
  }

  function removeProduct(button) {
    let row = button.closest('.row');
    row.parentNode.removeChild(row);
  }

  function loadArtikelOptions(selectElement) {
    var kodeproduk = selectElement.value;
    var productCounter = selectElement.id.split('-')[1];
    var detailSpkDiv = document.getElementById('detail_po_' + productCounter);
    var url = "{% url 'load_detailpo' %}";

    // Menghapus opsi sebelumnya jika ada
    detailSpkDiv.innerHTML = '';

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'kodeproduk': kodeproduk
      },
      dataType: 'html',
      success: function (data) {
        detailSpkDiv.innerHTML = data;
      }
    });
  }
</script>
{% endblock javascripts %}
{% endblock content %}
