<div class="col-md-4">
    <div class="form-group ">
        <label>Nama Produk</label>
        <div id="namabahanbaku">
            <input type="text" value="{{bahanbaku.NamaProduk}}" class="form-control" name="jumlah" required>
        </div>
    </div>
</div>

<div class="col-md-2">
    <div class="form-group ">
        <label>Unit</label>
        <div id="unitbahanbaku">
            <input type="text" value="{{bahanbaku.unit}}" class="form-control" name="jumlah" required>
        </div>
    </div>