{% extends "gudang/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}



<!-- Page content  -->
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rekapitulasi SPK</h4>

                <div class="table-responsive pt-3">
                    <table class="table table-bordered" id="spk">
                        <thead>
                            <tr>
                                <th>Tanggal Terbit</th>
                                <th>Nomor SPK</th>
                                <th>Artikel</th>
                                <th>Jumlah</th>
                                <th>Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in dataspk %}
                            <tr>
                                <td>{{i.Tanggal}}</td>
                                <td>{{i.NoSPK}}</td>

                                {% if i.detailspk.exists %}

                                <td>
                                    {% for j in i.detailspk %}
                                    <li>
                                        {{j.KodeArtikel}}
                                    </li>
                                    {% endfor %}

                                </td>
                                <td>
                                    {% for j in i.detailspk %}
                                    <li>
                                        {{j.Jumlah}}
                                    </li>
                                    {% endfor %}
                                </td>
                                {% else %}
                                <p> Belum ada Record Detail SPPB</p>
                                {% endif %}

                                <td>{{i.Keterangan}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Penghapusan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah Anda yakin ingin menghapus data ini?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <form id="deleteForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script>
    function confirmDelete(id) {
        var deleteForm = document.getElementById('deleteForm');
        deleteForm.action = "artikel/delete/" + id;
        $('#confirmDeleteModal').modal('show');
    }
</script>
{% endblock javascripts %}
{% endblock content %}