{% extends "ppic/base.html" %}
{% load static %}
{% load humanize %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}



<!-- Page content  -->
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detail Barang Keluar Periode : {{bulan}} </h4>



                <div class="table-responsive pt-3">
                    {% if sppb %}

                    <h5>Detail Barang Keluar Bulan : {{bulan}}</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>No SPPB</td>
                                <td>No SPK</td>
                                <td>Artikel</td>
                                <td>Jumlah</td>
                                <td>Harga FG</td>
                                <td>Total Biaya</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in sppb %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.NoSPPB.NoSPPB}}</td>
                                <td>{{item.DetailSPK.NoSPK}}</td>
                                <td>{{item.DetailSPK.KodeArtikel}}</td>
                                <td>{{item.Jumlah}}</td>
                                <td>{{item.hargafg}}</td>
                                <td>{{item.totalharga}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Total</td>
                                <td>{{totalbiayakeluar}}</td>
                            </tr>
                        </thead>
                    </table>

                    {% for artikel,item in penyusun.items %}
                    <h5>Detail Penyusun Artikel {{artikel}}</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Penyusun</td>
                                    <td>Kuantitas 2.5%</td>
                                    <td>harga satuan</td>
                                    <td>harga perkotak</td>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    {% for bahanbaku,data in item.penyusun.items %}
                                    <td>{{bahanbaku}}</td>
                                    <td>{{data.kuantitas}}</td>
                                    <td>{{data.harga}}</td>
                                    <td>{{data.totalharga}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>

                                    <td>Harga FG</td>
                                    <td>{{item.hargafg}}</td>
                                </tr>
                            </thead>
                        </table>
                        {% endfor %}




                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}

{% endblock javascripts %}
{% endblock content %}