{% extends "ppic/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
{% load humanize %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Detail Confirmation Order</h4>
      <div class="template-demo">
        <a href="/produksi/viewspk">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
        <form class="form-sample" action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tanggal</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" name="tanggal" value="{{dataco.tanggal}}" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nomor CO</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="nomorco" value="{{dataco.NoCO}}" disabled />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Kepada</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="kepada" value="{{dataco.kepada}}" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Perihal</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="perihal" value="{{dataco.perihal}}" disabled />
                </div>
              </div>
            </div>
          </div>
          <h4 class="card-title">Detail Artikel</h4>
          <div id="artikels">
            {% for i in dataco.detailcopo %}
            <div class="row" id="artikel_1">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="artikel_1">Artikel {{forloop.counter}}:</label>
                  <input type="text" class="form-control" name="perihal" value="{{i.Artikel}}" disabled />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="quantity_1">Deskripsi</label>
                  <input type="text" class="form-control" name="perihal" value="{{i.deskripsi}}" disabled />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="quantity_1">Kuantitas</label>
                  <input type="text" class="form-control" name="perihal" value="{{i.kuantitas}}" disabled />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="quantity_1">Harga</label>
                  <input type="text" class="form-control" name="perihal" value="Rp {{i.Harga | intcomma }}" disabled />
                </div>
              </div>
            </div>
            {% endfor %}
            <h4 class="card-title">Detail Display</h4>
            <div id="artikels">
              {% for i in dataco.detailcopodisplay %}
              <div class="row" id="artikel_1">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="artikel_1">Display {{forloop.counter}}:</label>
                    <input type="text" class="form-control" name="perihal" value="{{i.Display}}" disabled />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="quantity_1">Deskripsi</label>
                    <input type="text" class="form-control" name="perihal" value="{{i.deskripsi}}" disabled />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="quantity_1">Kuantitas</label>
                    <input type="text" class="form-control" name="perihal" value="{{i.kuantitas}}" disabled />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="quantity_1">Harga</label>
                    <input type="text" class="form-control" name="perihal" value="Rp {{i.Harga | intcomma }}"
                      disabled />
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <br><br>
        </form>
      </div>
      <br>
    </div>
  </div>
  <div class="card mt-5 ">
    <div class="card-body">
      <div class="table-responsive pt-3">
        <h5>SPPB</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Tanggal</td>
              <td>No SPPB</td>
              <td>No SPK</td>
              <td>Artikel Keluar</td>
              <td>Jumlah</td>
            </tr>
          </thead>
          <tbody>
            {% for i in dataco.detailsppb %}
            <tr>
              <td>{{i.NoSPPB.Tanggal}}</td>
              <td>{{i.NoSPPB.NoSPPB}}</td>
              <td>{{i.DetailSPK.NoSPK}}</td>
              <td>{{i.DetailSPK.KodeArtikel}}</td>
              <td>{{i.Jumlah}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card mt-5 ">
    <div class="card-body">
      <div class="table-responsive pt-3">
        <h5>Rekap Barang</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Artikel</td>
              <td>Jumlah</td>
            </tr>
          </thead>
          <tbody>
            {% for i in jumlah %}
            <tr>
              <td>{{i.DetailSPK__KodeArtikel__KodeArtikel}}</td>
              <td>{{i.total}}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% block javascripts %}
<script>
  function addProduct() {
    let productCounter = document.querySelectorAll('.artikel').length + 1;
    const productRow = document.createElement('div');
    productRow.className = "row";
    productRow.id = `artikel_${productCounter}`;
    productRow.innerHTML = `
      <div class="col-md-3">
        <div class="form-group">
          <label for="artikel_${productCounter}">Artikel ${productCounter}:</label>
          <input required type="text" class="form-control artikel" name="artikel[]" list="listartikel" >
          <datalist id="listartikel">
            {% for item in data %}
            <option value="{{ item.KodeArtikel }}">{{ item.KodeArtikel }}</option>
            {% endfor %}
          </datalist>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="quantity_${productCounter}">Deskripsi</label>
          <input type="text" class="form-control quantity" name="deskripsi[]" placeholder="Deskripsi">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="quantity_${productCounter}">Kuantitas</label>
          <input type="number" class="form-control quantity" min="0" name="kuantitas[]" placeholder="Kuantitas">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="quantity_${productCounter}">Harga</label>
          <input type="number" class="form-control quantity" min="0" name="harga[]" placeholder="Harga">
        </div>
      </div>
      <div class="col-md-1">
        <br>
        <label for="hapus${productCounter}"></label>
        <button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="typcn typcn-trash"></i></button>
      </div>`;
    document.getElementById('artikels').appendChild(productRow);
  }

  function deleteRow(button) {
    button.closest('.row').remove();
  }
</script>
{% endblock javascripts %}
{% endblock content %}