{% extends "ppic/base.html" %}
{% load static %}
{% load humanize %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% load humanize %}
{% load customfilter %}


<!-- Page content  -->
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detail Barang Keluar Periode : {{bulan}} </h4>



                <div class="table-responsive pt-3">


                    <h5>Detail Barang Keluar Bulan : {{bulan}}</h5>
                    <table class="table" id="tabelsppbartikel">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>No SPPB</td>
                                <td>No SPK</td>
                                <td>Artikel</td>
                                <td>Jumlah</td>
                                <td>Harga FG</td>
                                <td>Total Biaya</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in sppb %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.NoSPPB.NoSPPB}}</td>
                                <td>{{item.DetailSPK.NoSPK}}</td>
                                <td>{{item.DetailSPK.KodeArtikel}}</td>
                                <td>{{item.Jumlah|separator_ribuan}}</td>
                                <td>{{item.hargafg|custom_thousands_separator}}</td>
                                <td>{{item.totalharga|custom_thousands_separator}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Harga Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{nilaibarangkeluar|custom_thousands_separator}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Detail Display Keluar Bulan : {{bulan}}</h5>

                    <table class="table" id="tabeldisplaybarangkeluar">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>No SPPB</td>
                                <td>No SPK</td>
                                <td>Display</td>
                                <td>Jumlah Pengiriman (SPPB)</td>
                                <td>Jumlah Produksi (SPK)</td>
                                <td>Bahan Baku</td>
                                <td>Jumlah Permintaan</td>
                                <td>Jumlah Penggunaan</td>
                                <td>Harga Satuan</td>
                                <td>Harga konversi</td>
                                <td>Total Biaya</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in display %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.NoSPPB.NoSPPB}}</td>
                                <td>{{item.DetailSPKDisplay.NoSPK}}</td>
                                <td>{{item.DetailSPKDisplay.KodeDisplay}}</td>
                                <td>{{item.Jumlah|separator_ribuan}}</td>
                                <td>{{item.DetailSPKDisplay.Jumlah|separator_ribuan}}</td>

                                <td>
                                    <ul>
                                    {% for i in item.penggunaanbahan.keys %}
                                        <li>
                                            {{i}}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                    {% for i in item.penggunaanbahan.values %}
                                        <li>
                                            {{i.totalpermintaan|separator_ribuan}}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        {% for i in item.penggunaanbahan.values %}
                                            <li>
                                                {{i.jumlahpenggunaan|custom_thousands_separator}}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                </td>
                                <td>
                                    <ul>
                                        {% for i in item.penggunaanbahan.values %}
                                            <li>
                                                {{i.biayaawal|custom_thousands_separator}}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                </td>
                                <td>
                                    <ul>
                                        {% for i in item.penggunaanbahan.values %}
                                            <li>
                                                {{i.totalbiaya|custom_thousands_separator}}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                </td>
                                <td>{{item.totalbiaya|custom_thousands_separator}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Harga Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{nilaidisplaykeluar|custom_thousands_separator}}</td>
                            </tr>
                        </tbody>
                    </table>


                    <h5>Detail Transaksi golongan D : {{bulan}}</h5>
                    <table class="table" id="tabeltransaksigold">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>Tanggal</td>
                                <td>Kode Bahan Baku</td>
                                <td>Nama Bahan Baku</td>
                                <td>Lokasi</td>
                                <td>Harga Satuan</td>
                                <td>Kuantitas</td>
                                <td>Harga Total</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in transaksigold %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.tanggal}}</td>
                                <td>{{item.KodeProduk.KodeProduk}}</td>
                                <td>{{item.KodeProduk.NamaProduk}}</td>
                                <td>{{item.Lokasi}}</td>
                                <td>{{item.harga|custom_thousands_separator}}</td>
                                <td>{{item.jumlah|separator_ribuan}}</td>
                                <td>{{item.hargatotal|custom_thousands_separator}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Harga Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{nilaigold|custom_thousands_separator}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Detail Transaksi lain-lain : {{bulan}}</h5>
                    <table class="table" id="tabeltransaksilainlain">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>Tanggal</td>
                                <td>Kode Bahan Baku</td>
                                <td>Nama Bahan Baku</td>
                                <td>Lokasi</td>
                                <td>Harga Satuan</td>
                                <td>Kuantitas</td>
                                <td>Harga Total</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in lainlain %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.tanggal}}</td>
                                <td>{{item.KodeProduk.KodeProduk}}</td>
                                <td>{{item.KodeProduk.NamaProduk}}</td>
                                <td>{{item.Lokasi}}</td>
                                <td>{{item.harga|custom_thousands_separator}}</td>
                                <td>{{item.jumlah|separator_ribuan}}</td>
                                <td>{{item.hargatotal|custom_thousands_separator}}</td>
                                
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Harga Total</td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                                <td>{{nilailainlain|custom_thousands_separator}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Detail Bahan Baku Keluar Bulan : {{bulan}}</h5>
                    <table class="table" id="tabelransaksibahanbaku">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>No SPPB</td>
                                <td>Bahan Baku</td>
                                <td>Nama Bahan Baku</td>
                                <td>Satuan</td>
                                <td>Jumlah</td>
                                <td>Harga </td>
                                <td>Total Biaya</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in transaksibahanbaku %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.NoSPPB.NoSPPB}}</td>
                                <td>{{item.DetailBahan.KodeProduk}}</td>
                                <td>{{item.DetailBahan.NamaProduk}}</td>
                                <td>{{item.DetailBahan.unit}}</td>
                                <td>{{item.Jumlah|separator_ribuan}}</td>
                                <td>{{item.harga|custom_thousands_separator}}</td>
                                <td>{{item.hargatotal|custom_thousands_separator}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Harga Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{nilaitransaksibahanbaku|custom_thousands_separator}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Grand Total : <span>{{totalbiayakeluar|custom_thousands_separator}}</span> </h4>

                </div>
            </div>
        </div>
    </div>


    {% block javascripts %}

    {% endblock javascripts %}
    {% endblock content %}