{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'laporanstokfg' %}" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-briefcase menu-icon"></i>
        <span class="menu-title">Laporan Stok FG</span>

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'laporanbarangmasuk' %}" aria-expanded="false" aria-controls="form-elements">
        <i class="typcn typcn-film menu-icon"></i>
        <span class="menu-title">Laporan Barang Masuk</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'laporanbarangkeluar' %}" aria-expanded="false" aria-controls="charts">
        <i class="typcn typcn-chart-pie-outline menu-icon"></i>
        <span class="menu-title">Laporan Barang Keluar</span>

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'laporanpersediaanbarang' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Laporan Persediaan Barang</span>
      </a>
    </li>
  </ul>
</nav>