{% extends "ppic/base.html" %}
{% load static %}
{% load humanize %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% load customfilter %}


<!-- Page content  -->
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Laporan Nilai Persediaan Barang </h4>

                <form class="form-inline" method="get">

                    <div class="form-group">

                        <label for="bulan">Periode</label>
                        <div class="input-group mb-2 mr-sm-2 ml-2">
                            <input type="month" class="form-control" id="bulan" placeholder="Bulan" required
                                name="bulan" value="{{waktu}}">
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    {% if waktu %}
                    <a href="{% url 'exportlaporanpersediaankeseluruhan' %}?bulan={{waktu}}"
                        class="btn btn-success ml-5">Export
                        Excel keseluruhan</a>
                    {% endif %}

                </form>

                <div class="table-responsive pt-3">
                    {% if modeldata %}
                    {% for bulan,data in modeldata.items %}
                    <h5>Laporan Persediaan Bulan : {{bulan}}-{{tahun}} <span class="ml-5"> <a
                                href="{% url 'exportlaporanpersediaan' %}?bulan={{tahun}}-{{forloop.counter}}"
                                class="btn  btn-outline-success btn-sm mb-2">Export Excel </a></span></h5>


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    <a href="{% url 'detaillaporanbarangkeluar'%}?bulan={{bulan}}&waktu={{waktu}} ">

                                        Barang Keluar
                                    </a>
                                </td>

                                <td>
                                    <a href="{% url 'detaillaporanbarangmasuk'%}?bulan={{bulan}}&waktu={{waktu}} ">

                                        Barang Masuk
                                    </a>
                                </td>
                                <td>
                                    {% if bulan == "Januari" %}
                                    <a
                                        href="{% url 'detaillaporanbaranstokawalgudang'%}?waktu={{waktu}}&bulan={{bulan}}">
                                        Saldo Awal Stock Gudang
                                    </a>
                                    {% else %}
                                    Saldo Awal Stock Gudang
                                    {% endif %}
                                </td>
                                <td>
                                    {% if bulan == "Januari" %}
                                    <a
                                        href="{% url 'detaillaporanbaranstokawalproduksi'%}?waktu={{waktu}}&bulan={{bulan}}">
                                        Saldo Awal Bahan Produksi
                                    </a>
                                    {% else %}
                                    Saldo Awal Bahan Produksi
                                    {% endif %}
                                </td>
                                <td>
                                    Total


                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{data.barangkeluar|custom_thousands_separator}}</td>
                                <td>{{data.barangmasuk|custom_thousands_separator}}</td>
                                <td>{{data.saldoawalgudang|custom_thousands_separator}}</td>
                                <td>{{data.stokawalproduksi|custom_thousands_separator}}</td>
                                <td>{{data.totalsaldo|custom_thousands_separator}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 class="mt-3">Stok Akhir Perbagian</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    <a href="{% url 'detaillaporanbaranstokgudang'%}?bulan={{bulan}}&waktu={{waktu}}">
                                        Gudang
                                    </a>
                                </td>
                                <td>
                                    WIP


                                </td>
                                <td>
                                    <a href=" {% url 'detaillaporanstokfg' %}?&bulan={{bulan}}&waktu={{waktu}}">
                                        FG
                                    </a>
                                </td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{data.saldoakhirgudang|custom_thousands_separator}}</td>
                                <td>{{data.saldowip|custom_thousands_separator}}</td>
                                <td>{{data.stokfg|custom_thousands_separator}}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}



                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}

{% endblock javascripts %}
{% endblock content %}