{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Input SPPB</h4>
      <div class="template-demo">
        <a href="/produksi/viewsppb">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nomor SPPB</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nomor_sppb" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" name="keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
        <h4 class="card-title">Detail SPPB Artikel</h4>
        <div id="artikels">
          <div class="row" id="artikel_1">
            <div class="col-md-3">
              <div class="form-group">
                <label for="artikel_1">Artikel 1:</label>
                <select class="form-control artikel" name="kode_artikel-1" id="kode_artikel-1"
                  onchange="loadArtikelOptions(this)">
                  <option value="">Masukkan Kode Artikel</option>
                  {% for item in data %}
                  <option value="{{ item.KodeArtikel }}">{{ item.KodeArtikel }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="artikel_1">Nomor SPK</label>
                <div id="detail_spk_1">
                  {% include 'produksi/opsi_artikel.html' %}
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="quantity_1">Jumlah</label>
                <input type="number" class="form-control quantity" name="quantity[]" placeholder="Quantity">
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <h4 class="card-title">Detail SPPB Display</h4>
        <div id="displays">
          <div class="row" id="display_1">
            <div class="col-md-3">
              <div class="form-group">
                <label for="display_1">Display 1:</label>
                <select class="form-control display" name="kode_display_1" id="kode_display-1"
                  onchange="loadDisplayOptions(this)">
                  <option value="">Masukkan SPK Display</option>
                  {% for item in display %}
                  <option value="{{ item.KodeDisplay }}">{{ item.KodeDisplay }} - {{item.Keterangan}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="quantity_1">Jumlah</label>
                <input type="number" class="form-control quantity" name="quantitydisplay[]" placeholder="Quantity">
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-auto mr-auto">
            <button type="button" class="btn btn-success" onclick="addProduct()">
              <i class="typcn typcn-plus btn-icon-prepend"></i>
              Tambahkan Artikel
            </button>
          </div>
          <div class="col-auto mr-auto">
            <button type="button" class="btn btn-success" onclick="addDisplay()">
              <i class="typcn typcn-plus btn-icon-prepend"></i>
              Tambahkan Display
            </button>
          </div>
          <div class="col-auto"><button type="submit" class="btn btn-primary mr-2">Submit</button></div>
        </div>
      </form>
    </div>
  </div>
</div>

{% block javascripts %}
<script>
  function addProduct() {
    let productCounter = document.querySelectorAll('.artikel').length + 1;
    const productRow = document.createElement('div');
    productRow.className = "row";
    productRow.id = `artikel_${productCounter}`;
    productRow.innerHTML = `<div class="col-md-3">
                                  <div class="form-group">
                                      <label for="artikel_1">Artikel ${productCounter}:</label>
                                      <select class="form-control artikel" name="kode_artikel-${productCounter}" id="kode_artikel-${productCounter}" onchange="loadArtikelOptions(this)">
                                        <option value="">Masukkan Kode Artikel</option>
                                          {% for item in data %}
                                          <option value="{{ item.KodeArtikel }}">{{ item.KodeArtikel }}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="artikel_1">Nomor SPK</label>
                                      <div id="detail_spk_${productCounter}">
                                        {% include 'produksi/opsi_artikel.html' %}
                                      </div>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="quantity_${productCounter}">Jumlah</label>
                                      <input type="number" class="form-control quantity" name="quantity[]" placeholder="Quantity">
                                  </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="hapus1"></label>
                                    <button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="typcn typcn typcn-trash"></i></button>
                                </div>`;
    document.getElementById('artikels').appendChild(productRow);
  }

  function deleteRow(button) {
    button.closest('.row').remove();
  }

  function loadArtikelOptions(selectElement) {
    var spkNumber = selectElement.value;
    var productCounter = selectElement.id.split('-')[1];
    var detailSpkDiv = document.getElementById('detail_spk_' + productCounter);
    var url = "{% url 'load_artikel' %}";

    // Menghapus opsi sebelumnya jika ada
    detailSpkDiv.innerHTML = '';

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'kode_artikel': spkNumber
      },
      dataType: 'html',
      success: function (data) {
        detailSpkDiv.innerHTML = data;
      }
    });
  }
  function loadDisplayOptions(selectElement) {
    var spkNumber = selectElement.value;
    var productCounter = selectElement.id.split('-')[1];
    var detailSpkDiv = document.getElementById('detail_spk_' + productCounter);
    var url = "{% url 'load_artikel' %}";

    // Menghapus opsi sebelumnya jika ada
    detailSpkDiv.innerHTML = '';

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'kode_artikel': spkNumber
      },
      dataType: 'html',
      success: function (data) {
        detailSpkDiv.innerHTML = data;
      }
    });
  }
  function addDisplay() {
    let displayCounter = document.querySelectorAll('.display').length + 1;
    const displayRow = document.createElement('div');
    displayRow.className = "row display-row";
    displayRow.id = `display_row_${displayCounter}`;
    displayRow.innerHTML = `<div class="col-md-3">
                                <div class="form-group">
                                    <label for="SPK_Display-${displayCounter}">Display ${displayCounter}</label>
                                    <select class="form-control display" name="spk_display[]" id = SPK_Display-${displayCounter}">
                                    <option value="">Masukkan SPK Display</option>
                                    {% for item in spkdisplay %}
                                    <option value="{{ item.NoSPK }}">{{ item.NoSPK }} - {{item.Keterangan}}</option>
                                    {% endfor %}
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="jumlah_${displayCounter}">Jumlah</label>
                                    <input type="number" class="form-control" name="quantitydisplay[]" id="jumlah_${displayCounter}" placeholder="Jumlah">
                                </div>
                               
                            </div>
                            <div class="col-md-1">
                                    <label for="hapus1"></label>
                                    <button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="typcn typcn typcn-trash"></i></button>
                                </div>
                            `;
    document.getElementById('displays').appendChild(displayRow);
  }

</script>
</script>
{% endblock javascripts %}
{% endblock content %}