{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Input Transaksi Mutasi</h4>
      <div class="template-demo">
        <a href="/produksi/viewmutasi">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" id="tanggal" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="" class="col-sm-3 col-form-label ">Tipe Transaksi</label>
              <div class="col-sm-9">
                <select id="jenisspk" class="form-control" onchange="toggleDiv()" name="jenisspk">
                  <option selected disabled> Pilih Jenis Transaksi</option>
                  <option value="spkartikel">Artikel</option>
                  <option value="spkdisplay">Display</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <h4 class="card-title">Detail Transaksi Mutasi</h4>
        <div id="spkartikel">
          <div id="artikels">
          </div>
        </div>
        <div id="spkdisplay">
          <div id="displays">
          </div>
        </div>
        <div class="row">
          <div class="col-auto mr-auto">
            <button type="button" class="btn btn-success" onclick="tambahitem()">
              <i class="typcn typcn-plus btn-icon-prepend"></i>
              Tambahkan Produk
            </button>
          </div>
          <div class="col-auto"><button type="submit" class="btn btn-primary mr-2">Submit</button></div>
        </div>
      </form>
    </div>
  </div>
</div>

{% block javascripts %}
<script>
  function tambahitem() {
    var select = document.getElementById('jenisspk');
    var value = select.value;
    console.log(value)
    if (value == "spkartikel") {
      addProduct()
    }
    else if (value == "spkdisplay") {
      addDisplay()
    }
  }

  function addProduct() {
    let productCounter = document.querySelectorAll('.artikel').length + 1;
    const productRow = document.createElement('div');
    productRow.className = "col"; // Added class artikel
    productRow.id = `artikel_${productCounter}`;
    productRow.innerHTML = `<div class="row">
                                <div class="col-md-4">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Artikel ${productCounter}</label>
                                    <div class="col-sm-9">
                                      <input required type="text" class="form-control artikel" name="kode_artikel[]" id="Artikel-${productCounter}" list="listartikel" onchange="loadversioption(this)">
                                        <datalist  id="listartikel">
                                          {% for i in kode_artikel %}
                                          <option value="{{i.KodeArtikel}}">{{i.KodeArtikel}}</option>
                                          {% endfor %}
                                        </datalist>
                                    </div>
                                  </div>
                                </div>
                                <div class ="col-md-4">
                                  <div class="form-group row">
                                     <label class="col-sm-3 col-form-label">Jumlah</label>
                                     <div class="col-sm-9" id="versi_${productCounter}">
                                       {% include 'produksi/opsi_versitransaksiproduksi.html' %} 
                                    </div>
                                
                                    </div>
                                  </div>
                                <div class="col-md-4">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Jumlah</label>
                                    <div class="col-sm-9">
                                      <input type="number" class="form-control" name="jumlah[]"/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nomor SPK</label>
                                    <div class="col-sm-9">
                                      <select class="form-control" name="nomor_spk-${productCounter}" id="nomor_spk-${productCounter}" class="form-control" onchange="loadArtikelOptions(this)">
                                        <option value="">Masukkan Nomor SPK</option>
                                          {% for i in data_spk %}
                                            <option value="{{i.NoSPK}}">{{i.NoSPK}}</option>
                                          {% endfor %}
                                      </select>
                                    </div>              
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kode Artikel</label>
                                    <div class="col-sm-9" id="detail_spk_${productCounter}">
                                      {% include 'produksi/opsi_spk.html' %} 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Keterangan</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="keterangan[]" rows="3"></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <label for="hapus1"></label>
                                <button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="typcn typcn typcn-trash"></i></button>
                              </div>
                              <br><br>`;

    document.getElementById('artikels').appendChild(productRow);
  }

  function addDisplay() {
    let productCounter = document.querySelectorAll('.display').length + 1;
    const productRow = document.createElement('div');
    productRow.className = "col"; // Added class artikel
    productRow.id = `display_${productCounter}`;
    productRow.innerHTML = `<div class="row">
                                <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Display ${productCounter}</label>
                                    <div class="col-sm-9">
                                      <input required type="text" class="form-control display" name="kode_display[]" list="listartikel" >
                                        <datalist  id="listartikel">
                                          {% for i in kode_display %}
                                          <option value="{{i.KodeDisplay}}">{{i.KodeDisplay}}</option>
                                          {% endfor %}
                                        </datalist>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Jumlah</label>
                                    <div class="col-sm-9">
                                      <input type="number" class="form-control" name="jumlah[]"/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nomor SPK</label>
                                    <div class="col-sm-9">
                                      <select class="form-control" name="nomor_spk-${productCounter}" id="nomor_spk-${productCounter}" class="form-control" onchange="loadArtikelOptions(this)">
                                        <option value="">Masukkan Nomor SPK</option>
                                          {% for i in data_spk %}
                                            <option value="{{i.NoSPK}}">{{i.NoSPK}}</option>
                                          {% endfor %}
                                      </select>
                                    </div>              
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Kode Display</label>
                                    <div class="col-sm-9" id="detail_spk_${productCounter}">
                                      {% include 'produksi/opsi_spk.html' %} 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Keterangan</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="keterangan[]" rows="3"></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <label for="hapus1"></label>
                                <button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="typcn typcn typcn-trash"></i></button>
                              </div>
                              <br><br>`;

    document.getElementById('displays').appendChild(productRow);
  }

  function deleteRow(button) {
    button.closest('.row').remove(); // Changed .col to .Display
  }

  function loadArtikelOptions(selectElement) {
    var spkNumber = selectElement.value;
    var productCounter = selectElement.id.split('-')[1];
    var detailSpkDiv = document.getElementById('detail_spk_' + productCounter);
    var url = "{% url 'load_detailspk' %}";

    // Menghapus opsi sebelumnya jika ada
    detailSpkDiv.innerHTML = '';

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'nomor_spk': spkNumber
      },
      dataType: 'html',
      success: function (data) {
        detailSpkDiv.innerHTML = data;
      }
    });
  }
  function loadversioption(selectElement) {
    var kodeartikel = selectElement.value;
    var productCounter = selectElement.id.split('-')[1];
    var versidiv = document.getElementById('versi_' + productCounter);
    console.log(kodeartikel,productCounter,versidiv,productCounter)


    var url = "{% url 'loadversiartikel' %}";
    console.log(kodeartikel)

  

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'kodeartikel': kodeartikel
      },
      dataType: 'html',
      success: function (data) {
        versidiv.innerHTML = data;
      }
    });
  }

  function toggleDiv() {
    var select = document.getElementById('jenisspk');
    var value = select.value;
    console.log(value)
    if (value === 'spkartikel') {
      document.getElementById('artikels').innerHTML = '';
      console.log(document.getElementById('artikels').innerHTML)
      addProduct()
      document.getElementById('displays').innerText = '';
    } else if (value === 'spkdisplay') {
      document.getElementById('displays').innerHTML = '';
      document.getElementById('artikels').innerHTML = '';
      addDisplay()
    }
  }

</script>

<script>
  // Mendapatkan tanggal hari ini dalam format YYYY-MM-DD
  var today = new Date().toISOString().split('T')[0];

  // Mengatur nilai input tanggal ke tanggal hari ini
  document.getElementById('tanggal').value = today;
</script>
{% endblock javascripts %}
{% endblock content %}