{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Form Input Penyesuaian</h4>
            <div class="template-demo">
                <a href="/produksi/viewspk"></a>
            </div>
            <br>
            <form class="form-sample" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tanggal Mulai</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="tanggalmulai" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tanggal Akhir</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="tanggalminus" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Lokasi</label>
                            <div class="col-sm-9">
                                <select name="lokasi" class="form-control" id="">
                                    <option value="WIP" selected>WIP</option>
                                    <option value="FG">FG</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="listartikels">
                    <div class="row" id="artikel_1">
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label class="">Artikel</label>
                                <div class="">
                                    <input type="text" name="artikel_display" class="form-control artikel" list="Artikel" required placeholder="Pilih Artikel" onchange="setArtikelId(this)" id="kodeartikel_1">
                                    <input type="hidden" name="artikel" id="hidden_kodeartikel_1">
                                    <datalist id="Artikel">
                                        {% for i in Artikel %}
                                        <option value="{{i.KodeArtikel}}" data-id="{{i.id}}">{{i.KodeArtikel}}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Kode Bahan Baku</label>
                                <div class="" id="versi_1">
                                    <input class="form-control" type="text" name="kodebahanbaku" list="kodebahanbaku" required placeholder="Masukkan Kode Bahan Baku" onchange="updateNamaBahanBaku(this)">
                                    <datalist id="kodebahanbaku">
                                        {% for i in kodebahanbaku %}
                                        <option value="{{i.KodeProduk}}" data-namaproduk="{{i.NamaProduk}}">{{i.KodeProduk}} - {{i.NamaProduk}}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Nama Bahan Baku</label>
                                <input type="text" disabled name="namabahanbaku" class="form-control namabahanbaku" value="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group ">
                                <label class="">Kuantitas</label>
                                <div class="">
                                    <input type="number" step="any" class="form-control" name="kuantitas" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" onclick="addProduct()">
                    <i class="typcn typcn-plus btn-icon-prepend"></i>
                    Tambahkan Data
                </button>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>

{% block javascripts %}
<script>
    function addProduct() {
        let productCounter = document.querySelectorAll('.artikel').length + 1;
        const productRow = document.createElement('div');
        productRow.className = "row";
        productRow.id = `artikel_${productCounter}`;
        productRow.innerHTML = ` <div class="col-md-3">
                            <div class="form-group ">
                                <label class="">Artikel</label>
                                <div class="">
                                    <input type="text" name="artikel_display" class="form-control artikel" list="Artikel" required placeholder="Pilih Artikel" onchange="setArtikelId(this)" id="kodeartikel_${productCounter}">
                                    <input type="hidden" name="artikel" id="hidden_kodeartikel_${productCounter}">
                                    <datalist id="Artikel">
                                        {% for i in Artikel %}
                                        <option value="{{i.KodeArtikel}}" data-id="{{i.id}}">{{i.KodeArtikel}}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Kode Bahan Baku</label>
                                <div class="" id="versi_${productCounter}">
                                    <input class="form-control" type="text" name="kodebahanbaku" list="kodebahanbaku" required placeholder="Masukkan Kode Bahan Baku" onchange="updateNamaBahanBaku(this)">
                                    <datalist id="kodebahanbaku">
                                        {% for i in kodebahanbaku %}
                                        <option value="{{i.KodeProduk}}" data-namaproduk="{{i.NamaProduk}}">{{i.KodeProduk}} - {{i.NamaProduk}}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Nama Bahan Baku</label>
                                <input type="text" disabled name="namabahanbaku" class="form-control namabahanbaku" value="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group ">
                                <label class="">Kuantitas</label>
                                <div class="">
                                    <input type="number" step="any" class="form-control" name="kuantitas" required />
                                </div>
                            </div>
                        </div>`;

        document.getElementById('listartikels').appendChild(productRow);
    }

    function deleteRow(button) {
        button.closest('.row').remove();
    }

    function loadVersiOptions(selectElement) {
        var artikel = selectElement.value;
        var productCounter = selectElement.id.split('_')[1];
        var detailSpkDiv = document.getElementById('versi_' + productCounter);
        console.log(selectElement.id)
        var url = "{% url 'load_versi' %}";

        // Menghapus opsi sebelumnya jika ada
        detailSpkDiv.innerHTML = '';

        // Memuat opsi baru berdasarkan nomor SPK yang dipilih
        $.ajax({
            url: url,
            data: {
                'artikel': artikel
            },
            dataType: 'html',
            success: function (data) {
                detailSpkDiv.innerHTML = data;
            }
        });
    }

    function loadPenyusunOptions(selectElement) {
        var versi = selectElement.value;

        var productCounter = selectElement.parentNode.id.split('_')[1]
        var detailSpkDiv = document.getElementById('penyusun_' + productCounter);
        var artikel = document.getElementById('kodeartikel_' + productCounter)
        console.log(selectElement.parentNode)
        console.log(versi)
        console.log(artikel.value)
        var url = "{% url 'loadpenyusun' %}";

        // Menghapus opsi sebelumnya jika ada
        detailSpkDiv.innerHTML = '';

        // Memuat opsi baru berdasarkan nomor SPK yang dipilih
        $.ajax({
            url: url,
            data: {
                'versi': versi,
                'artikel': artikel.value
            },
            dataType: 'html',
            success: function (data) {
                detailSpkDiv.innerHTML = data;
            }
        });
    }

    function updateNamaBahanBaku(selectElement) {
        const datalist = selectElement.list;
        const options = datalist.options;
        let namaBahanBaku = '';
        
        for (let i = 0; i < options.length; i++) {
            if (options[i].value === selectElement.value) {
                namaBahanBaku = options[i].dataset.namaproduk;
                break;
            }
        }

        const parentRow = selectElement.closest('.row');
        const namaBahanBakuInput = parentRow.querySelector('.namabahanbaku');
        namaBahanBakuInput.value = namaBahanBaku;
    }

    function setArtikelId(selectElement) {
        const datalist = selectElement.list;
        const options = datalist.options;
        let artikelId = '';
        
        for (let i = 0; i < options.length; i++) {
            if (options[i].value === selectElement.value) {
                artikelId = options[i].dataset.id;
                break;
            }
        }

        const productCounter = selectElement.id.split('_')[1];
        const hiddenInput = document.getElementById(`hidden_kodeartikel_${productCounter}`);
        hiddenInput.value = artikelId;
    }
</script>
{% endblock javascripts %}
{% endblock content %}
