{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Input SaldoAwalSubkon</h4>
      <div class="template-demo">
        <a href="/produksi/viewsaldosubkon">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" required id="tanggal" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Produk</label>
              <div class="col-sm-9">
                <input type="text" name="produk" list="listartikel" class="form-control" required>
                <datalist id="listartikel">
                  {% for i in datasubkon %}
                  <option value="{{i.NamaProduk}}">{{i.NamaProduk}}</option>
                  {% endfor %}
                </datalist>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Jumlah</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="jumlah" required />
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
      </form>
    </div>
  </div>
</div>
<script>
  // Mendapatkan tanggal hari ini dalam format YYYY-MM-DD
  var today = new Date().toISOString().split('T')[0];

  // Mengatur nilai input tanggal ke tanggal hari ini
  document.getElementById('tanggal').value = today;
</script>
{% endblock content %}