{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Input SPPB</h4>
      <div class="template-demo">
        <a href="{{backurl}}">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" value="{{tanggal}}" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nomor SPPB</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nomor_sppb" value="{{datasppb.NoSPPB}}" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" name="keterangan" rows="3">{{datasppb.Keterangan}}</textarea>
              </div>
            </div>
          </div>
        </div>
        <h4 class="card-title">Detail SPPB</h4>
        <h5>Bahan Baku</h5>
        <div id="bahans">
          {% if datadetailbahan %}
          {% for i in datadetailbahan %}
          <div class="row" id="bahan_1">
            <div class="col-md-4">
              <div class="form-group">
                <label for="bahan_1">Bahan Baku 1:</label>
                <input required type="text" class="form-control bahan" name="kode_bahanawal[]" id="kode_bahan-1" list="listbahan" value="{{i.DetailBahan.KodeProduk}}">
                <datalist id="listbahan">
                  {% for item in bahan %}
                  <option value="{{ item.KodeProduk }}">{{ item.NamaProduk }}</option>
                  {% endfor %}
                </datalist>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="quantity_1">Jumlah</label>
                <input required type="number" min="0" class="form-control quantity" name="quantitybahan[]" placeholder="Quantity" value="{{i.Jumlah}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Purchase Order</label>
                <select name="purchaseorderbahan" id="" class="form-control">
                  <option value="">Masukkan Kode Purchase Order</option>
                  {% for item in purchaseorder %}
                  {% if item.id == i.IDCO.id %}
                  <option value="{{item.id}}" selected>{{item.NoCO}}</option>
                  {% else %}
                  <option value="{{item.id}}">{{item.NoCO}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <label for="hapus1"></label>
              <a>
                <button type="button" onclick="confirmDelete('{{ i.IDDetailSPPB }}')" class="btn btn-danger">
                  <i class="typcn typcn typcn-trash"></i>
                </button>
              </a>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <h5>Tidak ada Data Bahan Baku</h5>
          <br>
          {% endif %}
        </div>

        <h5>Artikel</h5>
        <div id="artikels">
          {% if datadetail %}
          {% for i in datadetail %}
          <div class="row" id="artikel_1">
            <div class="col-md-3">
              <div class="form-group">
                <label for="artikel_{{ forloop.counter }}">Artikel {{ forloop.counter }}:</label>
                <select class="form-control artikel" name="kode_artikel_awal"
                  id="kode_artikel-{{ forloop.counter }}:" onchange="loaddetailspk(this);loadversioption(this)">
                  <option value="">Masukkan Kode Artikel</option>
                  {% for item in dataartikel %}
                  {% if item.KodeArtikel == i.DetailSPK.KodeArtikel.KodeArtikel %}
                  <option selected value="{{ item.KodeArtikel }}">{{ item.KodeArtikel }}</option>
                  {% else %}
                  <option value="{{ item.KodeArtikel }}"> {{ item.KodeArtikel }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="artikel_1">Nomor SPK</label>
                <div id="nomor_spk_{{forloop.counter}}">

                  <select class="form-control" name="detail_spkawal[]">
                    <option value="">Masukkan Nomor SPK</option>
                    {% for item in i.opsispk %}
                    
                    {% if item.IDDetailSPK == i.DetailSPK.IDDetailSPK %}
                    <option selected value="{{ item.IDDetailSPK }}">{{ item.NoSPK }}</option>
                    {% else %}
                    <option value="{{ item.IDDetailSPK }}"> {{ item.NoSPK }}</option>
                    {% endif %}>
                    {% endfor %}
                  </select>
                </div>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="quantity_1">Jumlah</label>
                <input required type="number" class="form-control quantity" name="quantity[]" placeholder="Quantity"
                  value="{{i.Jumlah}}">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                
                <label for="quantity_1">Versi</label>
                <div id="versi_{{forloop.counter}}" >
                  
                  <select name="versiasli" id="" class="form-control">
                    {% for item in i.opsiversi %}
                    {% if item == i.VersiArtikel %}
                    <option value="{{item.id}}" selected>{{item.Versi}}</option>
                    {% else %}
                    <option value="{{item.id}}">{{item.Versi}}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Purchase Order</label>
                <select name="purchaseorderartikel" id="" class="form-control">
                  <option value="">Masukkan Kode Purchase Order</option>
                  {% for item in purchaseorder %}
                  {% if item.id == i.IDCO.id %}
                  <option value="{{item.id}}" selected>{{item.NoCO}}</option>
                  {% else %}
                  <option value="{{item.id}}">{{item.NoCO}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <label for="hapus1"></label>
              <a>
                <button type="button" onclick="confirmDelete('{{ i.IDDetailSPPB }}')" class="btn btn-danger">
                  <i class="typcn typcn typcn-trash"></i>
                </button>
              </a>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <h5>Tidak ada Data Artikel</h5>
          <br>
          {% endif %}
        </div>

        <h5>Display</h5>
        <div id="displays">
          {% if datadetaildisplay %}
          {% for i in datadetaildisplay %}
          <div class="row" id="display_1">
            <div class="col-md-3">
              <div class="form-group">
                <label for="display_{{ forloop.counter }}">Display {{ forloop.counter }}:</label>
                <select class="form-control display" name="kode_display-{{ forloop.counter }}:"
                  id="kode_display-{{ forloop.counter }}: " onchange="loadDisplayOptions(this)">
                  <option value="">Masukkan Kode Display</option>
                  {% for item in datadisplay %}
                  {% if item.KodeDisplay == i.DetailSPKDisplay.KodeDisplay.KodeDisplay %}
                  <option selected value="{{ item.KodeDisplay }}">{{ item.KodeDisplay }}</option>
                  {% else %}
                  <option value="{{ item.KodeDisplay }}"> {{ item.KodeDisplay }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="display_1">Nomor SPK</label>
                <div class="detail_spk-{{forloop.counter}}"></div>
                <select class="form-control" name="detail_spkdisplayawal[]">
                  <option value="">Masukkan Nomor SPK</option>
                  {% for item in dataspkdisplay %}
                  {% if item.IDDetailSPK == i.DetailSPKDisplay.IDDetailSPK %}
                  <option selected value="{{ item.IDDetailSPK }}">{{ item.NoSPK }}</option>
                  {% else %}
                  <option value="{{ item.IDDetailSPK }}"> {{ item.NoSPK }}</option>
                  {% endif %}>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="quantity_1">Jumlah</label>
                <input required type="number" class="form-control quantitydisplay" name="quantitydisplay[]"
                  placeholder="Quantity" value="{{i.Jumlah}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Purchase Order</label>
                <select name="purchaseorderdisplay" id="" class="form-control">
                  <option value="">Masukkan Kode Purchase Order</option>
                  {% for item in purchaseorder %}
                  {% if item.id == i.IDCO.id %}
                  <option value="{{item.id}}" selected>{{item.NoCO}}</option>
                  {% else %}
                  <option value="{{item.id}}">{{item.NoCO}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <label for="hapus1"></label>
              <a>
                <button type="button" onclick="confirmDelete('{{ i.IDDetailSPPB }}')" class="btn btn-danger">
                  <i class="typcn typcn typcn-trash"></i>
                </button>
              </a>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <h5>Tidak ada Data Display</h5>
          {% endif %}
        </div>
        <br><br>
        <div class="row">
          <div class="col-auto mr-auto">
            <button type="button" class="btn btn-success" onclick="addBahan()">
              <i class="typcn typcn-plus btn-icon-prepend"></i>
              Tambahkan Bahan
            </button>
          </div>
          <div class="col-auto mr-auto">
            <button type="button" class="btn btn-success" onclick="addProduct()">
              <i class="typcn typcn-plus btn-icon-prepend"></i>
              Tambahkan Artikel
            </button>
          </div>
          <div class="col-auto mr-auto">
            <button type="button" class="btn btn-success" onclick="addDisplay()">
              <i class="typcn typcn-plus btn-icon-prepend"></i>
              Tambahkan Display
            </button>
          </div>
          <div class="col-auto"><button type="submit" class="btn btn-primary mr-2">Submit</button></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Penghapusan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Apakah Anda yakin ingin menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <form id="deleteForm" method="post" action="">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Hapus</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% block javascripts %}
<script>
function addBahan() {
    let bahanCounter = document.querySelectorAll('.bahan').length + 1;
    const bahanRow = document.createElement('div');
    bahanRow.className = "row bahan-row";
    bahanRow.id = `bahan_row_${bahanCounter}`;
    bahanRow.innerHTML = `<div class="col-md-4">
                              <div class="form-group">
                                <label for="bahan_1">Bahan Baku ${bahanCounter}:</label>
                                <input required type="text" class="form-control bahan" name="kode_bahan[]" id="kode_bahan-${bahanCounter}" list="listbahan">
                                <datalist id="listbahan">
                                  {% for item in bahan %}
                                  <option value="{{ item.KodeProduk }}">{{ item.NamaProduk }}</option>
                                  {% endfor %}
                                </datalist>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="quantity_${bahanCounter}">Jumlah</label>
                                <input type="number" min="0" class="form-control quantity" name="quantitybahanbaru[]" placeholder="Quantity">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Purchase Order</label>
                                <select name="purchaseorderbahanbaru" id="" class="form-control">
                                  <option value="">Masukkan Kode Purchase Order</option>
                                  {% for i in purchaseorder %}
                                  <option value="{{i.id}}">{{i.NoCO}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-1">
                                <label for="hapus1"></label>
                                <button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="typcn typcn typcn-trash"></i></button>
                            </div>`;
    document.getElementById('bahans').appendChild(bahanRow);
  }

  function addProduct() {
    let productCounter = document.querySelectorAll('.artikel').length + 1;
    const productRow = document.createElement('div');
    productRow.className = "row";
    productRow.id = `artikel_${productCounter}`;
    productRow.innerHTML = `<div class="col-md-3">
                                  <div class="form-group">
                                      <label for="artikel_1">Artikel ${productCounter}:</label>
                                      <select class="form-control artikel" name="kode_artikel-${productCounter}" id="kode_artikel-${productCounter}" onchange="loaddetailspktambahan(this);loadversioption(this)">
                                        <option value="">Masukkan Kode Artikel</option>
                                          {% for item in dataartikel %}
                                          <option value="{{ item.KodeArtikel }}">{{ item.KodeArtikel }}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label for="artikel_1">Nomor SPK</label>
                                    <div id="nomor_spk_${productCounter}">
                                      {% include 'produksi/opsi_detailspkfromartikeltambahan.html' %}
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label for="quantity_${productCounter}">Jumlah</label>
                                    <input type="number" class="form-control quantity" name="quantitybaru[]" placeholder="Quantity">
                                  </div>
                                </div>
                                <div class="col-md-2">
              <div class="form-group">
                <label for="quantity_1">Versi</label>
                <div  id="versi_${productCounter}">
                  {% include 'produksi/opsi_versi.html' %}
                  </div>
              </div>
            </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label>Purchase Order</label>
                                    <select name="purchaseorderartikelbaru" id="" class="form-control">
                                      <option value="">Masukkan Kode Purchase Order</option>
                                      {% for i in purchaseorder %}
                                      <option value="{{i.id}}">{{i.NoCO}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-1">
                                    <label for="hapus1"></label>
                                    <button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="typcn typcn typcn-trash"></i></button>
                                </div>`;

    document.getElementById('artikels').appendChild(productRow);
  }

  function addDisplay() {
    let displayCounter = document.querySelectorAll('.display').length + 1;
    const displayRow = document.createElement('div');
    displayRow.className = "row display-row";
    displayRow.id = `display_row_${displayCounter}`;
    displayRow.innerHTML = `<div class="col-md-3">
                              <div class="form-group">
                                <label for="display_${displayCounter}">Display ${displayCounter}:</label>
                                <select class="form-control display" name="kode_display-${displayCounter}" id="kode_display-${displayCounter}" onchange="loadDisplayOptions(this)">
                                  <option value="">Masukkan Kode Display</option>
                                  {% for item in datadisplay %}
                                  <option value="{{ item.KodeDisplay }}"> {{ item.KodeDisplay }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="artikel_1">Nomor SPK</label>
                                <div id="detail_spkdisplay_${displayCounter}">
                                  {% include 'produksi/opsi_spkdisplay.html' %}
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                  <label for="jumlah_${displayCounter}">Jumlah</label>
                                  <input type="number" class="form-control" name="quantitydisplaybaru[]" id="jumlah_${displayCounter}" placeholder="Jumlah">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Purchase Order</label>
                                <select name="purchaseorderdisplaybaru" id="" class="form-control">
                                  <option value="">Masukkan Kode Purchase Order</option>
                                  {% for i in purchaseorder %}
                                  <option value="{{i.id}}">{{i.NoCO}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-1">
                              <label for="hapus1"></label>
                              <button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="typcn typcn typcn-trash"></i></button>
                            </div>
                            `;
    document.getElementById('displays').appendChild(displayRow);
  }

  function loadDisplayOptions(selectElement) {
    var spkNumber = selectElement.value;
    var productCounter = selectElement.id.split('-')[1];
    console.log(selectElement)
    var detailSpkDiv = document.getElementById('detail_spkdisplay_' + productCounter);
    var url = "{% url 'load_display' %}";

    // Menghapus opsi sebelumnya jika ada
    detailSpkDiv.innerHTML = '';

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'kode_artikel': spkNumber
      },
      dataType: 'html',
      success: function (data) {
        detailSpkDiv.innerHTML = data;
      }
    });
  }
  function loadversioption(selectElement) {
    var kodeartikel = selectElement.value;
    var productCounter = selectElement.id.split('-')[1].replace(':','');
    var versidiv = document.getElementById('versi_' + productCounter);
    console.log(kodeartikel,productCounter,versidiv,productCounter)


    var url = "{% url 'loadversiartikel' %}";
    console.log(kodeartikel)

  

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'kodeartikel': kodeartikel
      },
      dataType: 'html',
      success: function (data) {
        versidiv.innerHTML = data;
      }
    });
  }
  function loaddetailspk(selectElement) {
    var spkNumber = selectElement.value;

    var productCounter = selectElement.id.split('-')[1].replace(':','');
    var detailSpkDiv = document.getElementById('nomor_spk_'+productCounter)
    console.log(selectElement)
    var url = "{% url 'load_detailspkfromartikel' %}";

    // Menghapus opsi sebelumnya jika ada
    detailSpkDiv.innerHTML = '';

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'kode_artikel': spkNumber
      },
      dataType: 'html',
      success: function (data) {
        detailSpkDiv.innerHTML = data;
      }
    });
  }
  function loaddetailspktambahan(selectElement) {
    var spkNumber = selectElement.value;

    var productCounter = selectElement.id.split('-')[1].replace(':','');
    var detailSpkDiv = document.getElementById('nomor_spk_'+productCounter)
    console.log(selectElement)
    var url = "{% url 'load_detailspkfromartikeltambahan' %}";

    // Menghapus opsi sebelumnya jika ada
    detailSpkDiv.innerHTML = '';

    // Memuat opsi baru berdasarkan nomor SPK yang dipilih
    $.ajax({
      url: url,
      data: {
        'kode_artikel': spkNumber
      },
      dataType: 'html',
      success: function (data) {
        detailSpkDiv.innerHTML = data;
      }
    });
  }
  
  function deleteRow(button) {
    button.closest('.row').remove();
  }

  function confirmDelete(id) {
    console.log(id)
    var deleteForm = document.getElementById('deleteForm');
    deleteForm.action = "deletedetailsppb/" + id;
    $('#confirmDeleteModal').modal('show');
  }

</script>
{% endblock javascripts %}
{% endblock content %}