{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/produksi/viewaccgudang">
          <i class="typcn typcn-device-desktop menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="typcn typcn-compass menu-icon"></i>
          <span class="menu-title">Transaksi Gudang</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/produksi/viewgudang">Barang Masuk</a></li>
          </ul>
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/produksi/viewgudangretur">Barang Retur</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/produksi/viewproduksi">
          <i class="typcn typcn-film menu-icon"></i>
          <span class="menu-title">Input Mutasi</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produksi/viewspk">
          <i class="typcn typcn-chart-pie-outline menu-icon"></i>
          <span class="menu-title">SP. Kerja</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produksi/viewsppb">
          <i class="typcn typcn-th-small-outline menu-icon"></i>
          <span class="menu-title">SP. Pengiriman Barang</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/produksi/viewksbb">
          <i class="typcn typcn-compass menu-icon"></i>
          <span class="menu-title">KS Bahan Baku</span>
        
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produksi/viewksbj">
          <i class="typcn typcn-user-add-outline menu-icon"></i>
          <span class="menu-title">KS Barang Jadi</span>
        
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produksi/viewrekapbarang">
          <i class="typcn typcn-globe-outline menu-icon"></i>
          <span class="menu-title">Rekap Bahan Baku</span>
        </a>
      </li>
    </ul>
</nav>