{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/produksi/dashboard">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#suratperintah" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-document menu-icon"></i>
        <span class="menu-title">Surat Perintah</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="suratperintah">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewspk">Kerja</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewsppb">Pengiriman Barang</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#gudang" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-dropbox menu-icon"></i>
        <span class="menu-title">Transaksi Gudang</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="gudang">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewgudang">Barang Masuk</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewretur">Barang Retur</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#produksi" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-spanner menu-icon"></i>
        <span class="menu-title">Transaksi Produksi</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="produksi">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewmutasi">Mutasi WIP-FG </a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewdetailsppb">Mutasi FG-Keluar</a></li>
        </ul>
        
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#kartustok" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Kartu Stok Produksi</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="kartustok">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewksbb">Bahan Baku</a></li>
        </ul>
        
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewksbj">Barang Jadi</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#pemusnahan" aria-expanded="false" aria-controls="pemusnahan">
        <i class="typcn typcn-times menu-icon"></i>
        <span class="menu-title">Pemusnahan</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="pemusnahan">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewpemusnahanbarang">Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewpemusnahanartikel">Artikel</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#rekapitulasi" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-folder menu-icon"></i>
        <span class="menu-title">Rekapitulasi</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="rekapitulasi">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewrekapbarang">Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewrekapproduksi">Barang Produksi</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewrekaprusak">Barang Pemusnahan</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#subkonmaster" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-flow-merge menu-icon"></i>
        <span class="menu-title">Sub-Kon Master</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="subkonmaster">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/bahanbakusubkon">Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/produksubkon">Produk</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#transaksisubkon" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-flow-merge menu-icon"></i>
        <span class="menu-title">Transaksi Sub-Kon</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="transaksisubkon">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/subkonbahanmasuk">Transaksi Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/subkonterima">Transaksi Produk</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#sjsubkon" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-flow-merge menu-icon"></i>
        <span class="menu-title">Surat Jalan Sub-Kon</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="sjsubkon">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewsubkonbahankeluar">Surat Jalan Kirim</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewsubkonprodukmasuk">Surat Jalan Terima</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#kartustoksubkon" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Kartu Stok Subkon</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="kartustoksubkon">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/ksbbsubkon">Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/ksbjsubkon">Barang Jadi</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#saldoawal" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-shopping-bag menu-icon"></i>
        <span class="menu-title">Saldo Awal</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="saldoawal">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewsaldobahanbaku">Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewsaldoartikel">Artikel</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewsaldobahansubkon">Bahan Baku Subkon</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/produksi/viewsaldosubkon">Produk Subkon</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#penyesuaian" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-shopping-bag menu-icon"></i>
        <span class="menu-title">Penyesuaian</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="penyesuaian">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_penyesuaian' %}">Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_penyesuaianartikel' %}">Artikel</a></li>
       
      </div>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" href="{% url 'read_produk_produksi' %}">
        <i class="typcn typcn-link menu-icon"></i>
        <span class="menu-title">Bahan Baku</span>
      </a>
    </li>
    {% if user.groups.first.name == 'ppic' %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboardppic' %}">
        <i class=" typcn typcn-chevron-left menu-icon"></i>
        <span class="menu-title">PPIC</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>