{% extends "produksi/base.html" %}
{% load static %}
{% load humanize %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kode Artikel : <span style="font-weight: lighter;">
                        {{kodeartikel}}</span></h4>
               
                <form action="" method="get">
                    {% if kodebarang %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Masukkan Kode Barangg"
                                    name="kodeartikel" list="kodebarang" value="{{kodeartikel}}" required>
                                <datalist id="kodebarang">
                                    {% for i in dataartikel %}
                                    <option value="{{i.KodeArtikel}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <select name="lokasi" id="" class="form-control">
                                    {% if lokasi == "WIP" %}
                                        <option value="WIP" selected>WIP</option>
                                        <option value="FG">FG</option>
                                        {% else %}
                                        <option value="WIP" >WIP</option>
                                        <option value="FG" selected>FG</option>
                                        {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="number" class="form-control" value="{{tahun}}"
                                        aria-label="Masukkan Periode" name="periode">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="submit">Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input required type="text" class="form-control" placeholder="Masukkan Kode Barang"
                                        aria-label="Masukkan Kode Barang" name="kodeartikel" list="kodebarang" value="{{kodeartikel}}">
                                    <datalist id="kodebarang">
                                        {% for i in dataartikel %}
                                        <option value="{{i.KodeArtikel}}"></option>
                                        {% endfor %}
                                    </datalist>
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </form>

                {% if listdata %}
                {% for spk,data in listdata.items %}
                <h4 class="mt-5">{{forloop.counter}}. SPK : <span style="font-weight: lighter;" >{{spk}}</span></h4> 
                <h4>Jumlah Produksi : <span style="font-weight: lighter;" >{{data.spk.Jumlah}}</span> </h4>
                <h4>Tanggal Terbit : <span style="font-weight: lighter;" >{{data.spk.NoSPK.Tanggal}}</span> </h4>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered mb-3" id="tabelksbb">
                        <thead>
                            <tr>
                                <td>Tanggal Kirim</td>
                                <td>Nomor SPPB</td>
                                <td>Jumlah</td>
                                <td>Sisa</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for datasppb in data.data  %}
                            <tr>
                               <td>{{datasppb.detailsppb.NoSPPB.Tanggal}}</td>
                               <td>{{datasppb.detailsppb.NoSPPB}}</td>
                               <td>{{datasppb.detailsppb.Jumlah}}</td>
                               <td>{{datasppb.sisa}}</td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <td>
                                    Total
                                </td>
                                <td></td>
                                <td>{{data.total.jumlahkirim}}</td>
                                <td>{{data.total.sisa}}</td>
                            </tr>

                        </table>
                        
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}