{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Update Saldo Awal Subkon</h4>
      <div class="template-demo">
        <a href="/produksi/viewsaldosubkon">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" required id="tanggal" value="{{data.Tanggal}}"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Produk</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Masukkan Nama Produk Subkon"
                    aria-label="Masukkan Nama Produk Subkon" list="kodebarang"
                    id="kodebarangInput" value="{{data.IDProdukSubkon.NamaProduk}} {{data.IDProdukSubkon.KodeArtikel}}">
                <input type="hidden" name="kodebarangHidden" id="kodebarangHidden" value="{{ data.IDProdukSubkon.IDProdukSubkon }}">
                <datalist id="kodebarang">
                    {% for i in datasubkon %}
                    <option data-id="{{i.IDProdukSubkon}}" value="{{i.NamaProduk}} {{i.KodeArtikel}}"></option>
                    {% endfor %}
                </datalist>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Jumlah</label>
              <div class="col-sm-9">
                <input type="number" min="0" class="form-control" name="jumlah" required value="{{data.Jumlah}}"/>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
      </form>
    </div>
  </div>
</div>
<script>
  document.getElementById('kodebarangInput').addEventListener('input', function() {
      var input = this;
      var list = input.getAttribute('list');
      var options = document.getElementById(list).childNodes;
      for (var i = 0; i < options.length; i++) {
          if (options[i].value === input.value) {
              document.getElementById('kodebarangHidden').value = options[i].getAttribute('data-id');
              break;
          }
      }
  });
  </script>
{% endblock content %}