{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Input Pemusnahan Bahan Baku</h4>
      <div class="template-demo">
        <a href="/produksi/viewpemusnahanbarang">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" required value="{{data.Tanggal}}" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Bahan Baku</label>
              <div class="col-sm-9">
                <input type="text" name="produk" list="listartikel" class="form-control" required
                  value="{{data.KodeBahanBaku}}">
                <datalist id="listartikel">
                  {% for i in dataproduk %}
                  <option value="{{i.KodeProduk}}">{{i.NamaProduk}}</option>
                  {% endfor %}
                </datalist>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Lokasi</label>
              <div class="col-sm-9">
                <select class="form-control" id="exampleSelectGender" name="nama_lokasi" required>
                  {% for i in nama_lokasi %}
                  {% if i.IDLokasi == data.lokasi.IDLokasi %}
                  <option value="{{i.IDLokasi}}" selected>{{i.NamaLokasi}}</option>
                  {% else %}
                  <option value="
                  {{i.IDLokasi}}">{{i.NamaLokasi}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Jumlah</label>
              <div class="col-sm-9">
                <input type="number" min="0" step="any" class="form-control" name="jumlah" required value="{{data.Jumlah}}" />
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
      </form>
    </div>
  </div>
</div>
<script>
  // Mendapatkan tanggal hari ini dalam format YYYY-MM-DD
  var today = new Date().toISOString().split('T')[0];

  // Mengatur nilai input tanggal ke tanggal hari ini
  document.getElementById('tanggal').value = today;
</script>
{% endblock content %}