{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Transaksi Mutasi</h4>
      <div class="template-demo">
        <a href="/produksi/viewmutasi">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" value="{{ tanggal }}" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Artikel</label>
              <div class="col-sm-9">
                {% if produksi.KodeArtikel %}
                <input required type="text" class="form-control" name="kode_artikel" list="listartikel"
                  value="{{produksi.KodeArtikel}}">
                {% else %}
                <input required type="text" class="form-control" name="kode_display" list="listdisplay"
                  value="{{produksi.KodeDisplay}}">
                {% endif %}
                <datalist id="listartikel">
                  {% for i in kode_artikel %}
                  <option value="{{i.KodeArtikel}}">{{i.KodeArtikel}}</option>
                  {% endfor %}
                </datalist>
                <datalist id="listdisplay">
                  {% for i in kode_display %}
                  <option value="{{i.KodeDisplay}}">{{i.KodeDisplay}}</option>
                  {% endfor %}
                </datalist>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Jumlah</label>
              <div class="col-sm-9">
                <input type="number" min="0" class="form-control" name="jumlah" value="{{ produksi.Jumlah }}" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nomor SPK</label>
              <div class="col-sm-9">
                {% if produksi.DetailSPK %}
                <select class="form-control" name="nomor_spk" hx-get="{% url 'load_htmx' %}" hx-trigger="change"
                  hx-indicator=".htmx-indicator" hx-target="#detail">
                  <option value="">Masukkan Nomor SPK</option>
                  {% for i in data_spk %}
                    {% if i.NoSPK == produksi.DetailSPK.NoSPK.NoSPK %}
                      <option selected value="{{i.NoSPK}}">{{i.NoSPK}}</option>
                    {% else %}
                      <option value="{{i.NoSPK}}">{{i.NoSPK}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                {% else %}
                <select class="form-control" name="nomor_spk" hx-get="{% url 'load_htmx' %}" hx-trigger="change"
                  hx-indicator=".htmx-indicator" hx-target="#detail">
                  <option value="">Masukkan Nomor SPK</option>
                  {% for i in data_spk %}
                    {% if i.NoSPK == produksi.DetailSPKDisplay.NoSPK.NoSPK %}
                      <option selected value="{{i.NoSPK}}">{{i.NoSPK}}</option>
                    {% else %}
                      <option value="{{i.NoSPK}}">{{i.NoSPK}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kode Artikel</label>
              <div class="col-sm-9" id="detail">
                {% if produksi.DetailSPK %}
                <select class="form-control" name="detail_spk">
                  <option value="">Masukkan Kode Artikel</option>
                  {% for i in datadetail_spk %}
                    {% if i.IDDetailSPK == produksi.DetailSPK.IDDetailSPK %}
                      <option selected value="{{i.IDDetailSPK}}">{{i.KodeArtikel}}</option>
                    {% else %}
                      <option value="{{i.IDDetailSPK}}">{{i.KodeArtikel}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                {% else %}
                <select class="form-control" name="detail_spk">
                  <option value="">Masukkan Kode Display</option>
                  {% for i in datadetail_spkdisplay %}
                    {% if i.IDDetailSPK == produksi.DetailSPKDisplay.IDDetailSPK %}
                      <option selected value="{{i.IDDetailSPK}}">{{i.KodeDisplay}}</option>
                    {% else %}
                      <option value="{{i.IDDetailSPK}}">{{i.KodeDisplay}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" name="keterangan" rows="3">{{ produksi.Keterangan }}</textarea>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}