{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Form Input Penyesuaian</h4>
            <div class="template-demo">
                <a href="/produksi/viewspk">

                </a>
            </div>
            <br>
            <form class="form-sample" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tanggal Mulai</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="tanggalmulai" required
                                    value="{{dataobj.TanggalMulai}}" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="">Artikel</label>
                            <div class="">
                                <input type="text" class="form-control" hx-get="{% url 'load_penyusun' %}"
                                    hx-trigger="change" list="Artikel" hx-target="#produk"
                                    value="{{dataobj.KodePenyusun.KodeArtikel.KodeArtikel}}" name="artikel">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="">Versi</label>
                            <div class="" id="produk">
                                <select class="form-control" name="versi">
                                    <option value="{{dataobj.KodePenyesuaian.KodePenyusun.KodeProduk.KodeProduk}}"
                                        selected> {{dataobj.KodePenyusun.versi}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="">Bahan Baku</label>
                            <div class="" id="produk">
                                <select class="form-control">
                                    <option value="{{dataobj.KodePenyesuaian.KodePenyusun.KodeProduk.KodeProduk}}"
                                        selected> {{dataobj.KodePenyusun.KodeProduk.KodeProduk}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="">Kuantitas</label>
                            <div class="" id="produk">
                                <input type="number" min="0" step="any" class="form-control" required name="kuantitas"
                                    value="{{dataobj.konversi}}">


                            </div>
                        </div>
                    </div>
                    <input type="text" hidden name="idpenyesuaian" value="{{dataobj.IDPenyesuaian}}">
                </div>

                <input type="text" value="{{dataobj.IDDetailKonversiProduksi}}" hidden name="id">




                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>

{% block javascripts %}

{% endblock javascripts %}
{% endblock content %}