{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Form Transaksi Gudang</h4>
        <div class="template-demo">
            <a href="/produksi/viewgudang">
                <button type="button" class="btn btn-light btn-icon-text">
                    <i class="typcn typcn-chevron-left btn-icon-prepend"></i>                                                    
                    Kembali
                </button>
            </a>
        </div>
        <br>
        <form class="form-sample" action="" method="post">
        {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tanggal</label>
                <div class="col-sm-9">
                  <input required type="date" class="form-control" name="tanggal" value="{{ tanggal }}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Lokasi</label>
                <div class="col-sm-9">
                    <select required class="form-control" id="exampleSelectGender" name="nama_lokasi">
                        {% for i in nama_lokasi %}
                          {% if i.NamaLokasi == gudang.Lokasi.NamaLokasi %}
                            <option selected value="{{i.IDLokasi}}">{{i.NamaLokasi}}</option>
                          {% else %}
                            <option value="{{i.IDLokasi}}">{{i.NamaLokasi}}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Produk</label>
                <div class="col-sm-9">
                  <input required type="text" class="form-control" name="kode_produk" list="listproduk" value="{{ gudang.KodeProduk }}" >
                  <datalist  id="listproduk">
                      {% for i in kode_produk %}
                      <option value="{{i.KodeProduk}}">{{i.KodeProduk}} / {{i.NamaProduk}}</option>
                      {% endfor %}
                  </datalist>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Jumlah</label>
                <div class="col-sm-9">
                  <input required type="number" class="form-control" name="jumlah" value="{{ gudang.jumlah }}"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nomor SPK</label>
                <div class="col-sm-9">
                  <select class="form-control" name="nomor_spk" hx-get="{% url 'load_htmx' %}" hx-trigger="change" hx-indicator=".htmx-indicator" hx-target="#detail">
                    <option value="">Masukkan Nomor SPK</option>
                    {% for i in data_spk %}
                      {% if i.NoSPK == gudang.DetailSPK.NoSPK.NoSPK %}
                        <option selected value="{{i.NoSPK}}">{{i.NoSPK}}</option>
                      {% else %}
                        <option value="{{i.NoSPK}}">{{i.NoSPK}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>              
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Detail SPK</label>
                <div class="col-sm-9" id="detail">
                  <select class="form-control" name="detail_spk">
                    {% for i in data_detailspk %}
                      {% if i.IDDetailSPK == gudang.DetailSPK.IDDetailSPK %}
                        <option selected value="{{i.IDDetailSPK}}">{{i.KodeArtikel}}</option>
                      {% else %}
                        <option value="{{i.IDDetailSPK}}">{{i.KodeArtikel}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Keterangan</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="keterangan"  rows="3">{{ gudang.keterangan }}</textarea>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </form>
      </div>
    </div>
</div>
{% endblock content %}