{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Update Transaksi Subkon Terim</h4>
      <div class="template-demo">
        <a href="/produksi/subkonterima">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" value="{{produkobj.Tanggal}}" required />

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nama Produk Subkon</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nama_produk" value="{{produkobj.IDProdukSubkon}}" required
                  list="produksubkon" />
                <datalist id="produksubkon">
                  {% for i in produksubkon %}
                  <option value="{{i.IDProdukSubkon}}">{{i.NamaProduk}}</option>
                  {% endfor %}
                </datalist>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Jumlah</label>
              <div class="col-sm-9">
                <input type="number" min="0" class="form-control" name="jumlah" value="{{produkobj.Jumlah}}" required />
              </div>
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
    </div>
  </div>
  </form>
</div>
</div>
</div>
{% endblock content %}