{% extends "produksi/base.html" %}
{% load static %}
{% load humanize %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}
{% load customfilter %}

<!-- Page content  -->
{% block content %}
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Transaksi Mutasi</h4>
        
        <form action="" method="GET">
          <div class="row">
            {% if user.groups.first.name != 'ppic' %}
        <div class="template-demo">
          <a href="/produksi/addmutasi">
            <button type="button" class="btn btn-success btn-icon-text">
              <i class="typcn typcn-plus btn-icon-prepend"></i>
              Tambah Data
            </button>
          </a>
        </div>
        {% endif %}
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tanggal">Pilih Tanggal mulai :</label>
                        <input value="{{tanggalawal}}" type="date" name="mulai" class="form-control mb-2 mr-sm-2 ml-2"
                            >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tanggal">Pilih Tanggal akhir :</label>
                        <input value="{{tanggalakhir}}" type="date" name="akhir" class="form-control mb-2 mr-sm-2 ml-2"
                            >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">

                        <button class="btn btn-sm btn-primary mt-4" type="submit">Filter</button>
                    </div>

                </div>
            </div>
        </form>
        <div class="table-responsive pt-3">
          <table class="table table-bordered" id="myTable">
            <thead>
              <tr>
                <th>Tanggal</th>
                <th>Jenis</th>
                <th>Lokasi</th>
                <th>No SPK</th>
                <th>Kode Artikel</th>
                <th>Versi</th>
                <th>Jumlah</th>
                <th>Keterangan</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for i in dataproduksi %}
              <tr>
                <td>{{i.Tanggal}}</td>
                <td>{{i.Jenis}}</td>
                <td>{{i.Lokasi.NamaLokasi}}</td>
                {% if i.KodeDisplay == None %}
                <td>{{i.DetailSPK.NoSPK}} - {{i.DetailSPK.KodeArtikel}}</td>
                <td>{{i.KodeArtikel}}</td>
                <td>{{i.VersiArtikel}}</td>
                {% else %}
                <td>{{i.DetailSPPBDisplay.DetailSPKDisplay.NoSPK}}</td>
                <td>{{i.KodeDisplay}}</td>
                <td>-</td>

                {% endif %}
                <td>{{i.Jumlah|separator_ribuan}}</td>
                <td>{{i.Keterangan}}</td>
                <td>
                  {% if user.groups.first.name != 'ppic' %}
                  <!-- Tambahkan panggilan ke fungsi JavaScript dengan menyediakan ID data -->
                  <div class="template-demo">
                    <a href="{% url 'update_mutasi' i.idTransaksiProduksi %}">
                      <button type="button" class="btn btn-warning">
                        <i class="typcn typcn-edit"></i>
                      </button>
                    </a>
                    <a>
                      <button type="button" onclick="confirmDelete('{{ i.idTransaksiProduksi  }}')"
                        class="btn btn-danger">
                        <i class="typcn typcn typcn-trash"></i>
                      </button>
                    </a>
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Penghapusan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Apakah Anda yakin ingin menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <form id="deleteForm" method="post" action="">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Hapus</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% block javascripts %}
<script>
  function confirmDelete(id) {
    console.log(id)
    var deleteForm = document.getElementById('deleteForm');
    deleteForm.action = "deletemutasi/" + id;
    $('#confirmDeleteModal').modal('show');
  }
</script>
{% endblock javascripts %}
{% endblock content %}