{% extends "produksi/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
{% endblock javascripts %}

<!-- Page content  -->
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Transaksi Barang Retur</h4>
          <div class="template-demo">
            <a href="/produksi/addgudang">
                <button type="button" class="btn btn-success btn-icon-text">
                    <i class="typcn typcn-plus btn-icon-prepend"></i>                                                    
                    Tambah Data
                </button>
            </a>
            </div>
          <div class="table-responsive pt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Lokasi</th>
                    <th>Kode Produk</th>
                    <th>Jumlah</th>
                    <th>Keterangan</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in datagudang %}
                <tr>
                    <td>{{i.tanggal}}</td>
                    <td>{{i.Lokasi.NamaLokasi}}</td>
                    <td>{{i.KodeProduk}}</td>
                    <td>{{i.retur}}</td>
                    <td>{{i.keterangan}}</td>
                    <td>
                      {% if i.KeteranganACC == True %}
                      <button class="btn btn-success">
                          <i class="typcn typcn typcn-tick"></i>                                                    
                      </button>
                      {% else %}
                      <button class="btn btn-danger">
                        <i class="typcn typcn typcn-times"></i>                                                    
                      </button>
                      {% endif %}
                    </td>
                    <td>
                        <!-- Tambahkan panggilan ke fungsi JavaScript dengan menyediakan ID data -->
                        <div class="template-demo">
                            <a href="{% url 'update_gudang' i.IDDetailTransaksiGudang %}">
                                <button type="button" class="btn btn-warning">
                                    <i class="typcn typcn-edit"></i>                                                    
                                </button>
                            </a>
                            <a href="{% url 'delete_gudang' i.IDDetailTransaksiGudang %}">
                                <button type="button" class="btn btn-danger">
                                    <i class="typcn typcn typcn-trash"></i>                                                    
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}