{% extends "purchasing/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Barang Masuk</h4>
      <br>
      <form class="form-sample" action="" method="GET">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal Masuk</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="awal" id="awal" value="{{input_awal}}" required />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Akhir</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="akhir" id="akhir" value="{{input_terakhir}}" required />
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Cek</button>
      </form>
      {% if data_hasil_filter %}
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive pt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>No</th> <!-- Kolom untuk nomor urutan -->
                      <th>Tanggal</th>
                      <th>Supplier</th>
                      <th>Kode Produk</th>
                      <th>Nama Produk</th>
                      <th>Kuantitas</th>
                      <th>Harga</th>
                      <th>Harga Total</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="tableBody">
                    {% for i in data_hasil_filter %}
                    <tr>
                      <td>{{i.NoSuratJalan.Tanggal}}</td>
                      <td>{{i.NoSuratJalan.supplier}}</td>
                      <td>{{i.KodeProduk}}</td>
                      <td>{{i.KodeProduk.NamaProduk}}</td>
                      <td>{{i.Jumlah}}</td>
                      <td>{{i.Harga}}</td>
                      <td>{{i.harga_total}}</td>
                      <td>
                        <!-- Tambahkan panggilan ke fungsi JavaScript dengan menyediakan ID data -->
                        <div class="template-demo">
                          <a href="{% url 'update_barang_masuk' i.IDDetailSJPembelian input_awal input_terakhir %}">
                            <button type="button" class="btn btn-warning">
                              <i class="typcn typcn-edit"></i>
                            </button>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  // Mendapatkan elemen tbody
  var tableBody = document.getElementById("tableBody");
  // Mendapatkan semua baris di dalam tbody
  var rows = tableBody.getElementsByTagName("tr");
  // Loop melalui setiap baris dan tambahkan nomor urutan
  for (var i = 0; i < rows.length; i++) {
    // Membuat elemen kolom untuk nomor urutan
    var cell = rows[i].insertCell(0);
    // Mengatur nomor urutan
    cell.textContent = i + 1;
  }
</script>
{% endblock content %}