{% extends "Purchasing/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}



<!-- Page content  -->
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Penyusun Artikel : <span style="font-weight: lighter;">
                        {{kodeartikel}}</span></h4>
                
                <form action="" method="get">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Masukkan Nama Artikel"
                                        aria-label="Masukkan Nama Artikel" name="kodeartikel" list="listartikel">
                                    <datalist id="listartikel">
                                        {% for i in dataartikel %}
                                        <option value="{{i.KodeArtikel}}">{{i.KodeArtikel}}</option>
                                        {% endfor %}
                                    </datalist>
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive pt-3">
                    {% if data %}
                    <div class="template-demo">
                        <a href="/purchasing/penyusun">
                            <button type="button" class="btn btn-light btn-icon-text">
                            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
                            Kembali
                            </button>
                        </a>
                    </div>
                    <table class="table table-bordered" id="datapenyusun">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>Kode Stock</td>
                                <td>Nama</td>
                                <td>Satuan</td>
                                <td>Lokasi</td>
                                <td>Utama</td>
                                <td>Konversi</td>
                                <td>Konversi (2.5%) </td>
                                <td>Harga</td>
                                <td>Harga konversi</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{i.Penyusunobj.KodeProduk}}</td>
                                <td>{{i.Penyusunobj.KodeProduk.NamaProduk}}</td>
                                <td>{{i.Penyusunobj.KodeProduk.unit}}</td>
                                <td>{{i.Penyusunobj.Lokasi.NamaLokasi}}</td>
                                <td>{{i.Penyusunobj.Status}}</td>
                                <td>{{i.Konversi}}</td>
                                <td>{{i.Allowance}}</td>
                                <td>{{i.HargaSatuan}}</td>
                                <td>{{i.Hargakotak}}</td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>Nilai Total</td>
                                <td colspan="10">{{nilaifg}}</td>
                            </tr> -->
                        </tbody>
                    </table>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}