<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Produk</h1>     
    <table>
        <thead>
            <tr>
                <th>Kode Produk</th>
                <th>Nama Produk</th>
                <th>Unit</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% for i in produkobj %}
            <tr>
                <td>{{i.KodeProduk}}</td>
                <td>{{i.NamaProduk}}</td>
                <td>{{i.unit}}</td>
                <td>{{i.keterangan}}</td>>
                <td>
                    <a href="{% url 'update_produk' i.KodeProduk %}">
                        <button>Update</button>
                    </a>
                    <a href="{% url 'delete_produk' i.KodeProduk %}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_produk' %}">
        <button>Tambah Produk</button>
    </a>
</body>

</html>