{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'notif_purchasing' %}">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'read_produk' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-film menu-icon"></i>
        <span class="menu-title">Tambah Barang</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'barang_masuk' %}" aria-expanded="false" aria-controls="form-elements">
        <i class="typcn typcn-film menu-icon"></i>
        <span class="menu-title">Barang Masuk</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'rekap_purchasing' %}" aria-expanded="false" aria-controls="charts">
        <i class="typcn typcn-chart-pie-outline menu-icon"></i>
        <span class="menu-title">Rekap Barang</span>
      </a>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'rekapharga' %}" aria-expanded="false" aria-controls="tables">
          <i class="typcn typcn-th-small-outline menu-icon"></i>
          <span class="menu-title">KSBB</span>
        </a>
      </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'penyusun' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Penyusun</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kebutuhan_barang' %}" aria-expanded="false" aria-controls="tables">
          <i class="typcn typcn-th-small-outline menu-icon"></i>
          <span class="menu-title">Kebutuhan Barang</span>
      </a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" href="{% url 'read_po' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">PO</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'read_spk' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">SPK</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'view_sppb2' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">SPPB</span>
      </a>
    </li>
  </ul>
</nav>