{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'notif_purchasing' %}">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'read_produk' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-film menu-icon"></i>
        <span class="menu-title">Bahan Baku</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#kartustok" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Register</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="kartustok">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'barang_masuk' %}">Register Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'rekaphargasubkon' %}">Register Bahan Baku Subkon</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#rekapstok" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Rekap Stok</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="rekapstok">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'rekapgudang2' %}">Rekap Stok Gudang</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_rekapbarang2' %}">Rekap Stok Produksi</a></li>
        </ul>
      </div>
    </li>
    
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'rekapharga' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">KSBB</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'penyusunpurchasing' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Konversi</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kebutuhan_barang' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Kebutuhan Bahan Baku</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'view_purchaseorder' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Purchase Order</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'read_spk' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">SPK</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'view_sppb2' %}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">SPPB</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#saldoawal" aria-expanded="false" aria-controls="produksi">
        <i class="typcn typcn-shopping-bag menu-icon"></i>
        <span class="menu-title">Saldo Awal</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="saldoawal">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'saldobahanbakupurchasing' %}">Bahan Baku</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_saldoartikelpurchasing' %}">Artikel</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_saldobahansubkon' %}">Bahan Baku Subkon</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_produksubkon' %}">Produk Subkon</a></li>
        </ul>
      </div>
    </li>
    {% if user.groups.first.name == 'ppic' %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboardppic' %}">
        <i class=" typcn typcn-chevron-left menu-icon"></i>
        <span class="menu-title">PPIC</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>