{% extends "Purchasing/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}

<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Update Bahan Baku Masuk Subkon</h4>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="tanggal_masuk" value="{{accobj.NoSuratJalan.Tanggal}}" readonly />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kode Bahan Baku</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="kode_produk" value="{{accobj.KodeProduk}}" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nama Bahan Baku</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nama_produk" value="{{accobj.KodeProduk.NamaProduk}}" readonly />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kuantitas</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="kuantitas_masuk" id="kuantitas_masuk" value="{{accobj.Jumlah}}" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
         
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Supplier</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="supplier" value="{{accobj.NoSuratJalan.Supplier}}" required />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Mata Uang</label>
              <div class="col-sm-9">
                <select class="form-control" name="mata_uang" id="mata_uang" onchange="toggle_konversi()">
                  <option value="rupiah" {% if accobj.MataUang == "rupiah" %}selected{% endif %}>Rupiah</option>
                  <option value="dollar" {% if accobj.MataUang == "dollar" %}selected{% endif %}>Dollar</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="row_konversi" style="display: none;">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Konversi (Rp/USD)</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="harga_konversi" id="harga_konversi" value="16000" onchange="update_harga_total()" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Dollar</label>
              <div class="col-sm-9">
                <input min="0" step="any" type="number" class="form-control" name="harga_dollar" id="harga_dollar" value="{% if accobj.HargaDollar > 0 %}{{ accobj.HargaDollar }}{% else %}0{% endif %}" onchange="update_harga_total()" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Satuan (Rp)</label>
              <div class="col-sm-9">
                <input type="number" min="0" step="any" class="form-control" name="harga_barang" id="harga_barang" value="{{accobj.Harga}}" onchange="update_harga_total()" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Total</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="harga_total" id="harga_total" value="{{harga_total}}" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal Invoice</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggalinvoice" value="{{accobj.NoSuratJalan.TanggalInvoice}}" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">NoInvoice</label>
              <div class="col-sm-9">
                {% if accobj.NoSuratJalan.NoInvoice == None %}
                <input type="text" class="form-control" name="noinvoice" placeholder="Belum di set" />
                {% else %}
                <input type="text" class="form-control" name="noinvoice" value="{{accobj.NoSuratJalan.NoInvoice}}" />
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="keterangan" value="{{accobj.Keterangan}}"  />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-7 col-form-label">Potongan</label>
              <div class="col-sm-5">
                <input style="width: 2rem; height: 2rem;" type="checkbox" class="form-check-input" name="potongan" value="True" {% if accobj.Potongan %} checked {% endif %} />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Potongan (%)</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="potongan" id="potongan" value="2" min="0" step="any" onchange="update_harga_total()" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Satuan Setelah Pemotongan (Rp)</label>
              <div class="col-sm-9">
                <input type="number" step="any" class="form-control" name="harga_satuan_setelah_pemotongan" id="harga_satuan_setelah_pemotongan" value="{{accobj.Harga}}" />
              </div>
            </div>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary mr-2">Update</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var default_harga_satuan = {{accobj.Harga}};

function toggle_konversi() {
  var mata_uang = $("#mata_uang").val();
  if (mata_uang === "dollar") {
    $("#row_konversi").show();
    $("#harga_barang").prop("readonly", true);  // Disable input jika dollar
  } else {
    $("#row_konversi").hide();
    $("#harga_barang").prop("readonly", false); // Enable input jika rupiah
    $("#harga_barang").val(default_harga_satuan); // Set nilai default jika rupiah
  }
  update_harga_total();
}

function update_harga_total() {
  var kuantitas = parseFloat($("#kuantitas_masuk").val()) || 0;
  var mata_uang = $("#mata_uang").val();
  var harga_satuan;
  var harga_total_barang;
  var potongan = parseFloat($("#potongan").val()) || 2; // Default to 2% if not set

  if (mata_uang === "dollar") {
    var harga_dollar = parseFloat($("#harga_dollar").val()) || 0;
    var harga_konversi = parseFloat($("#harga_konversi").val()) || 16000; // Default konversi rate
    harga_satuan = harga_dollar * harga_konversi;
    $("#harga_barang").val(harga_satuan);
  } else {
    harga_satuan = parseFloat($("#harga_barang").val()) || default_harga_satuan;
  }

  // Calculate harga setelah pemotongan
  console.log(harga_satuan,potongan)
  var harga_setelah_pemotongan = harga_satuan - (harga_satuan * (potongan / 100));
  $("#harga_satuan_setelah_pemotongan").val(harga_setelah_pemotongan.toFixed(2));

  harga_total_barang = kuantitas * harga_satuan;

  $("#harga_total").val(harga_total_barang.toFixed(2)); // Update harga total
}

$(document).ready(function() {
  toggle_konversi();
  // Call update_harga_total on page load and when relevant fields are changed
  $("#harga_barang, #kuantitas_masuk, #potongan").on('input', update_harga_total);
  $("#mata_uang, #harga_dollar, #harga_konversi").on('change', update_harga_total);
});
</script>
{% endblock content %}
