{% extends "Purchasing/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <form class="form-sample" action="" method="post">
        <h4 class="card-title">Form Update Purchase Order</h4>
        <br>
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nomor Purchase Order</label>
              <div class="col-sm-9">
                <input required type="text" class="form-control" name="kodepo" placeholder="Masukkan Nomor Surat jalan" value="{{datapo.KodePO}}" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggal" required value="{{datapo.Tanggal}}" />
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Supplier</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" name="supplier" value="{% if datapo.Supplier == None %} {% else %}{{datapo.Supplier}} {% endif %}">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Status</label>
              <div class="col-sm-9">
                <select name="status" class="form-control" id="">
                  {% if datapo.Status == False %}
                  <option value="False" selected>Belum Lunas / Aktif</option>
                  <option value="True"> Sudah Lunas / Non-Aktif</option>
                  {% else %}
                  <option value="True" selected>Sudah Lunas / Non-Aktif</option>
                  <option value="False">Belum Lunas / Aktif</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <h4 class="card-title">Form Data Barang</h4>
        <div id="products"><!-- Div ini ditambahkan untuk menampung produk yang ditambahkan dinamis -->
          {% for item in datapo.detailpo %}
          <input type="text" hidden name="idexisting" value="{{item.id}}">
          <div class="row" id="row_{{ forloop.counter }}">
            <div class="col-md-3">
              <div class="form-group ">
                <label class="">Kode Produk</label>
                <div class="">
                  <input type="text" class="form-control" placeholder="Masukkan Nama Bahan Baku" aria-label="Masukkan Nama bahanbaku" name="kodeprodukexisting" list="listproduk" required value="{{item.KodeProduk}}" onchange="loadproduk(this)" id="artikel_{{ forloop.counter }}">
                  <datalist id="listproduk">
                    {% for i in getproduk %}
                    <option value="{{i.KodeProduk}}">{{i.KodeProduk}} - {{i.NamaProduk}}</option>
                    {% endfor %}
                  </datalist>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>Nama Produk</label>
                <div>
                  <input id="namabahanbaku_{{ forloop.counter }}" type="text" value="{{item.KodeProduk.NamaProduk}}" class="form-control" required disabled>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Unit</label>
                <div>
                  <input id="unitbahanbaku_{{ forloop.counter }}" type="text" value="{{item.KodeProduk.unit}}" class="form-control" required disabled>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Jumlah</label>
                <div>
                  <input min="0" step="any" type="number" value="{{item.Jumlah}}" class="form-control" name="jumlahexisting" required>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <label for=""></label>
              <button type="button" class="btn btn-danger" onclick="confirmDelete('{{ item.id }}', '{{ forloop.counter }}')"><i class="typcn typcn-trash"></i></button>
            </div>
          </div>
          {% endfor %}
        </div>

        <button type="button" class="btn btn-success" onclick="addProduct()">
          <i class="typcn typcn-plus btn-icon-prepend"></i>
          Tambahkan Produk
        </button>
        <button type="submit" class="btn btn-primary ml-5">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal untuk konfirmasi hapus -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Penghapusan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Apakah Anda yakin ingin menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Hapus</button>
      </div>
    </div>
  </div>
</div>

{% block javascripts %}
<script>
  function addProduct() {
    let productCounter = document.querySelectorAll('#products .row').length + 1;
    const productRow = document.createElement('div');
    productRow.className = "row";
    productRow.id = `row_${productCounter}`;
    productRow.innerHTML = `<div class="col-md-3">
                              <div class="form-group">
                                <label>Kode Produk</label>
                                <input type="text" class="form-control" name="kodeproduk[]" list="listproduk" required onchange="loadproduk(this)" id="artikel_${productCounter}">
                                <datalist id="listproduk">
                                  {% for i in getproduk %}
                                  <option value="{{i.KodeProduk}}">{{i.KodeProduk}} - {{i.NamaProduk}}</option>
                                  {% endfor %}
                                </datalist>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Nama Produk</label>
                                <input id="namabahanbaku_${productCounter}" type="text" class="form-control" required disabled>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label>Unit</label>
                                <input id="unitbahanbaku_${productCounter}" type="text" class="form-control" required disabled>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label>Jumlah</label>
                                <input min="0" step="any" type="number" class="form-control" name="jumlah[]" required>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <label for=""></label>
                              <button type="button" class="btn btn-danger" onclick="confirmDelete('', '${productCounter}')"><i class="typcn typcn-trash"></i></button>
                            </div>`;
    document.getElementById('products').appendChild(productRow);
  }

  function confirmDelete(id, counter) {
    const deleteButton = document.getElementById('confirmDeleteButton');
    deleteButton.onclick = function() {
      if (id) {
        // Logic to delete from server if the item has an id
        window.location.href = `/purchasing/deletedetailpurchaseorder/${id}`;
      } else {
        // If no id, just remove the row from the form
        document.getElementById(`row_${counter}`).remove();
      }
      $('#confirmDeleteModal').modal('hide');
    };
    $('#confirmDeleteModal').modal('show');
  }

  function loadproduk(selectElement) {
    const artikel = selectElement.value;
    const productCounter = selectElement.id.split('_')[1];
    const namabahanbaku = document.getElementById(`namabahanbaku_${productCounter}`);
    const unitbahanbaku = document.getElementById(`unitbahanbaku_${productCounter}`);

    $.ajax({
      url: "{% url 'load_produk' %}",
      data: {
        'artikel': artikel
      },
      dataType: 'json',
      success: function (data) {
        namabahanbaku.value = data.NamaProduk;
        unitbahanbaku.value = data.unit;
      }
    });
  }
</script>
{% endblock javascripts %}

{% endblock content %}
