{% extends "Purchasing/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Form Transaksi Gudang</h4>
      <div class="template-demo">
        <a href="/purchasing/notif_purchasing">
          <button type="button" class="btn btn-light btn-icon-text">
            <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
            Kembali
          </button>
        </a>
      </div>
      <br>
      <form class="form-sample" action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="tanggal_masuk" value="{{verifobj.NoSuratJalan.Tanggal}}" readonly />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kode Bahan Baku</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nama_produk" value="{{verifobj.KodeProduk}}" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nama Bahan Baku</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nama_produk" value="{{verifobj.KodeProduk.NamaProduk}}" readonly />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kuantitas</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="kuantitas_masuk" id="kuantitas_masuk" value="{{verifobj.Jumlah}}" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Mata Uang</label>
              <div class="col-sm-9">
                <select class="form-control" name="mata_uang" id="mata_uang" onchange="toggle_konversi()">
                  <option value="rupiah" selected>Rupiah</option>
                  <option value="dollar">Dollar</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="row_konversi" style="display: none;">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Konversi (Rp/USD)</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="harga_konversi" id="harga_konversi" value="16000" onchange="update_harga_total()" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Dollar</label>
              <div class="col-sm-9">
                <input min="0" type="number" step="any" class="form-control" name="harga_dollar" id="harga_dollar" onchange="update_harga_total()" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Satuan</label>
              <div class="col-sm-9">
                <input min="0" step="any" type="number" class="form-control" name="harga_barang" id="harga_barang" value="{{verifobj.Harga}}" onchange="update_harga_total()" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Harga Total</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="harga_total" id="harga_total" value="{{harga_total}}" readonly />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Supplier</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="supplier" value="{{verifobj.NoSuratJalan.supplier}}" required />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">PO</label>
              <div class="col-sm-9">
                <select name="po_barang" id="" class="form-control">
                  {% if verifobj.PO != None %}
                  <option value="{{verifobj.PO.KodePO}}" selected>{{verifobj.PO.KodePO}}</option>
                  {% else %}
                  <option value="">---</option>
                  {% endif %}
                  {%  for item in opsipo%}
                  <option value="{{item.KodePO.KodePO}}">{{item.KodePO}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tanggal Invoice</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" name="tanggalinvoice" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">No Invoice</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="noinvoice" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-7 col-form-label">PPN</label>
              <div class="col-sm-5">
                <input style="width: 2rem; height: 2rem;" type="checkbox" class="form-check-input" name="isppn" value="True" {% if verifobj.PPN %} checked {% endif %} />
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  function toggle_konversi() {
    var mata_uang = $("#mata_uang").val();
    if (mata_uang === "dollar") {
      $("#row_konversi").show();
      $("#harga_barang").prop("readonly", true);
    } else {
      $("#row_konversi").hide();
      $("#harga_barang").prop("readonly", false);
    }
    update_harga_total();
  }

  function update_harga_total() {
    var kuantitas = $("#kuantitas_masuk").val();
    var harga_satuan;
    var mata_uang = $("#mata_uang").val();
    var harga_total_barang;

    if (mata_uang === "dollar") {
      var harga_dollar = $("#harga_dollar").val();
      var harga_konversi = $("#harga_konversi").val();
      harga_satuan = harga_dollar * harga_konversi;
      $("#harga_barang").val(harga_satuan);
    } else {
      harga_satuan = $("#harga_barang").val();
    }

    harga_total_barang = kuantitas * harga_satuan;
    $("#harga_total").val(harga_total_barang);
  }

  $(document).ready(function() {
    toggle_konversi();

    // Memantau perubahan pada #harga_barang
    $("#harga_barang").on("input", function() {
      update_harga_total();
    });

    // Memantau perubahan pada #harga_dollar
    $("#harga_dollar").on("input", function() {
      update_harga_total();
    });

    // Memantau perubahan pada #harga_konversi
    $("#harga_konversi").on("input", function() {
      update_harga_total();
    });

    // Jika ingin memanggil fungsi update_harga_total() saat halaman dimuat, Anda bisa memanggilnya di sini.
    // update_harga_total();
  });
</script>
{% endblock content %}
