{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboardrnd' %}">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'views_artikel' %}" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-briefcase menu-icon"></i>
        <span class="menu-title">Artikel</span>

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'penyusun_artikel' %}" aria-expanded="false" aria-controls="form-elements">
        <i class="typcn typcn-film menu-icon"></i>
        <span class="menu-title">Penyusun</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'views_sppb' %}" aria-expanded="false" aria-controls="charts">
        <i class="typcn typcn-chart-pie-outline menu-icon"></i>
        <span class="menu-title">SPPB</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'views_ksbj'%}" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">KSBJ Produksi</span>
      </a>
    </li>
  </ul>
</nav>