{% extends "rnd/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Artikel : {{data.KodeArtikel}}</h4>
            <div class="template-demo">
                <a href="{{backurl}}">
                    <button type="button" class="btn btn-light btn-icon-text">
                        <i class="typcn typcn-chevron-left btn-icon-prepend"></i>
                        Kembali
                    </button>
                </a>
            </div>
            <br>
            <form class="form-sample" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Versi</label>
                            <div class="col-sm-9">

                                <input type="text" name="kodeversi" id="" class="form-control" value="{{data.KodeVersi.Versi}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Keterangan Versi</label>
                            <div class="col-sm-9">

                                <input type="text" name="keteranganversi" id="" class="form-control" value="{{data.KodeVersi.Keterangan}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Kode Stock</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" required name="kodeproduk"
                                    value="{{data.KodeProduk.KodeProduk}}" id="" list="listkodeproduk">
                                <datalist id="listkodeproduk">
                                    {% for i in kodestok %}
                                    <option value="{{i.KodeProduk}}" data-nama="{{i.NamaProduk}}" data-satuan="{{i.unit}}">                                    {% endfor %}
                                </datalist>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nama Bahan Baku</label>
                            <div class="col-sm-9">
                                <input type="text" name="namabahanbaku" value="{{data.KodeProduk.NamaProduk}}" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Satuan</label>
                            <div class="col-sm-9">
                                <input type="text" name="satuan" value="{{data.KodeProduk.unit}}" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                </div>


                    

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Lokasi</label>
                            <div class="col-sm-9">
                                <select name="lokasi" id="" class="form-control">
                                    {% if data.Lokasi.NamaLokasi == "WIP" %}
                                    <option value="WIP" selected>WIP</option>
                                    <option value="FG">FG</option>
                                    {% else %}
                                    <option value="WIP">WIP</option>
                                    <option value="FG" selected>FG</option>
                                    {% endif %}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Status</label>
                            <div class="col-sm-9">
                                <select name="status" id="" class="form-control">
                                    {% if data.Status == 1 %}
                                    <option value="True" selected>Bahan Baku Utama</option>
                                    <option value="False">Bahan Baku nonutama</option>
                                    {% else %}
                                    <option value="True">Bahan Baku Utama</option>
                                    <option value="False" selected>Bahan Baku nonutama</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Konversi</label>
                            <div class="col-sm-9">
                                <input type="number" value="{{data.Kuantitas}}" name="kuantitas"
                                    class="form-control" min="0" step="any">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Allowance</label>
                            <div class="col-sm-9">
                                <input type="number" min="0" name="allowance" step="any" required
                                    value="{{data.Allowance}}" required class="form-control">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Keterangan</label>
                            <div class="col-sm-9">
                                <input type="text"  name="keterangan" step="any" 
                                    value="{%if data.keterangan != None %}{{data.keterangan}}{% endif %}"  class="form-control">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
               

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const kodeProdukInput = document.querySelector('input[name="kodeproduk"]');
        const namaBahanBakuInput = document.querySelector('input[name="namabahanbaku"]');
        const satuanInput = document.querySelector('input[name="satuan"]');
    
        kodeProdukInput.addEventListener('input', function() {
            const selectedOption = document.querySelector(`#listkodeproduk option[value="${kodeProdukInput.value}"]`);
            if (selectedOption) {
                const namaBahanBaku = selectedOption.getAttribute('data-nama');
                const satuan = selectedOption.getAttribute('data-satuan');
                namaBahanBakuInput.value = namaBahanBaku;
                satuanInput.value = satuan;
            } else {
                namaBahanBakuInput.value = '';
                satuanInput.value = '';
            }
        });
    });
    </script>
{% endblock content %}