{% extends "rnd/base.html" %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- Page content  -->
{% load customfilter %}
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Konversi Artikel : <span style="font-weight: lighter;">
                        {{kodeartikel}}</span></h4>
                
                <!-- Row pertama: Datalist Artikel -->
                <form action="" method="get">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input required type="text" class="form-control" placeholder="Masukkan Kode Artikel"
                                        aria-label="Masukkan Nama Artikel" name="kodeartikel" list="listartikell" value="{{kodeartikel}}">
                                    <datalist id="listartikell">
                                        {% for i in dataartikel %}
                                        <option value="{{i.KodeArtikel}}">{{i.KodeArtikel}}</option>
                                        {% endfor %}
                                    </datalist>
                                    <input type="text" hidden name="versi">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                {% if kodeartikel %}
                <!-- Row kedua: Pemilihan Versi -->
                <form action="" method="get">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="kodeartikel" hidden value="{{kodeartikel}}">
                                    <select class="form-control" name="versi" id="">
                                        {% for i in dataversi %}
                                        {% if i == versiterpilihobj.Versi %}
                                        <option value="{{i}}" selected>{{i}} </option>
                                        {% else %}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="submit">Versi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Row ketiga: Tombol Tambah Data, Set Default, dan Hapus Data -->
                <div class="row">
                    {% if user.groups.first.name != 'ppic' %}
                    <div class="col-lg-2">
                        <a href="{% url 'add_versibaru' id=kodeartikel.pk %}">
                            <button type="button" class="btn btn-success btn-icon-text">
                                <i class="typcn typcn-plus btn-icon-prepend"></i>
                                Tambah Versi
                            </button>
                        </a>
                    </div>
                    {% if versiterpilih %}
                    <div class="col-lg-2">
                        <a href="{% url 'tambah_data_penyusunversi' id=kodeartikel.id versi=versiterpilihobj.pk %}">
                            <button type="button" class="btn btn-success btn-icon-text">
                                <i class="typcn typcn-plus btn-icon-prepend"></i>
                                Tambah Data Penyusun
                            </button>
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if versiterpilihobj %}
                    {% if user.groups.first.name != 'ppic' %}
                    <div class="col-lg-2">
                        <form action="{% url 'updateversi' %}" method="post">
                            {% csrf_token %}
                            <input type="text" hidden value="{{versiterpilihobj.pk}}" name="versi">
                            <button class="btn btn-warning btn-icon-text" type="submit">Set Default</button>
                        </form>
                    </div>

                    <div class="col-lg-2">
                        <a href="{% url 'update_konversi' versiterpilihobj.pk %}">

                            <button type="button" class="btn btn-warning  btn-icon-text" >
                                <i class="typcn typcn-edit btn-icon-prepend"></i>
                                Edit Konversi
                            </button>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-danger btn-icon-text" onclick="confirmDelete('{{versiterpilihobj.pk}}')">
                            <i class="typcn typcn-plus btn-icon-prepend"></i>
                            Hapus Versi
                        </button>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>

                <h4 class="card-title">Versi : <span style="font-weight: lighter;">
                      {{versiterpilihobj.Versi}} {% if versiterpilihobj.isdefault == True %} - Default {% endif %}</span></h4>
                <h4 class="card-title">Keterangan Versi : <span style="font-weight: lighter;">{% if versiterpilihobj.Keterangan != None %} {{versiterpilihobj.Keterangan}} {% else  %} - {% endif %}
                        </span></h4>
                <h4 class="card-title">Nilai FG : <span style="font-weight: lighter;">
                        Rp{{nilaifg |custom_thousands_separator}}</span></h4>
                <h4 class="card-title">Nilai FG Input Manual : 
                    {% if hargafgartikel != None %}
                    <span style="font-weight: lighter;">
                        Rp{{hargafgartikel |custom_thousands_separator}}</span>
                    {% else %}
                    <span style="font-weight: lighter;">
                        Rp -</span>
                    {% endif %}
                </h4>
                {% endif %}

                <!-- Table Data Penyusun -->
                <div class="table-responsive pt-3">
                    {% if data %}
                    <table class="table table-bordered" id="datapenyusun">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>Kode Stock</td>
                                <td>Bahan Baku</td>
                                <td>Satuan</td>
                                <td>Lokasi</td>
                                <td>Utama</td>
                                <td>Konversi </td>
                                <td>Harga (Rp)</td>
                                <td>Harga konversi (Rp)</td>
                                <td>Keterangan</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{i.Penyusunobj.KodeProduk}}</td>
                                <td>{{i.Penyusunobj.KodeProduk.NamaProduk}}</td>
                                <td>{{i.Penyusunobj.KodeProduk.unit}}</td>
                                <td>{{i.Penyusunobj.Lokasi.NamaLokasi}}</td>
                                <td>{{i.Penyusunobj.Status}}</td>
                                <td>{{i.Allowance|floatformat:5}}</td>
                                <td>{{i.HargaSatuan|custom_thousands_separator}}</td>
                                <td>{{i.Hargakotak|custom_thousands_separator}}</td>
                                <td>{{i.Keterangan}}</td>
                                <td>
                                    {% if user.groups.first.name != 'ppic' %}
                                    <div class="template-demo">
                                        <a>
                                            <button onclick="confirmDeletePenyusun({{i.Penyusunobj.IDKodePenyusun}})"
                                                type="button" class="btn btn-danger">
                                                <i class="typcn typcn typcn-trash"></i>
                                            </button>
                                        </a>
                                        <a href="{% url 'update_penyusun' i.Penyusunobj.IDKodePenyusun%}">
                                            <button type="button" class="btn btn-warning">
                                                <i class="typcn typcn-edit"></i>
                                            </button>
                                        </a>
                                        {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Deletion Confirmation -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Penghapusan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah Anda yakin ingin menghapus data ini?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <form id="deleteForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Hapus</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script>
    function confirmDelete(id) {
        var deleteForm = document.getElementById('deleteForm');
        deleteForm.action = "penyusun/deleteversi/" + id;
        $('#confirmDeleteModal').modal('show');
    }
    function confirmDeletePenyusun(id) {
        var deleteForm = document.getElementById('deleteForm');
        deleteForm.action = "penyusun/delete/" + id;
        $('#confirmDeleteModal').modal('show');
    }
</script>
{% endblock javascripts %}
{% endblock content %}
