<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Update Data</h1>

    <form action="" method="post">
        {% csrf_token %}
        <label for="">Kode Stok</label>
        <input type="text" disabled value="{{data.KodeProduk}}">
        <br>
        <label for="">Nama Barang</label>
        <input type="text" disabled value="{{data.KodeProduk.NamaProduk}}" id="">
        <br>
        <label for="">Satuan</label>
        <input type="text" disabled value="{{data.KodeProduk.unit}}" id="">
        <br>
        <label for="">Jumlah/Kotak</label>
        <input type="text" name="kuantitas" id="">
        <br>
        <button type="submit">Update Konversi</button>
    </form>

</body>

</html>