<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Penyusun Artikel</h1>
    <form action="" method="get">
        <label for="">Kode Artikel</label>
        {% if data %}
        <input type="text" name="kodeartikel" , value="{{kodeartikel.KodeArtikel}}">
        {% else %}
        <input type="text" name="kodeartikel">
        {% endif %}
        <button type="submit">Cek</button>
    </form>
    {% if data %}
    <a href="{% url 'tambah_data_penyusun' kodeartikel.id %}">

        <button>Tambah Data</button>
    </a>
    {% endif %}

    {% if data %}
    <table>
        <thead>
            <tr>
                <td>No</td>
                <td>Kode Stock</td>
                <td>Nama</td>
                <td>Satuan</td>
                <td>Lokasi</td>
                <td>Utama</td>
                <td>action</td>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.KodeProduk}}</td>
                <td>{{i.KodeProduk.NamaProduk}}</td>
                <td>{{i.KodeProduk.unit}}</td>
                <td>{{i.Lokasi.NamaLokasi}}</td>
                <td>{{i.Status}}</td>
                <td>
                    <a href=""><button>Update</button></a>
                    <a href=""><button>Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

</body>

</html>